*{box-sizing:border-box;}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{background-color: #f5f5f5;font-size:14px;font-family: 'Microsoft YaHei', "Space Grotesk", sans-serif;}
ul,li{list-style: none;}
@media (max-width: 576px) {
    .container {max-width: 576px;min-height:50px;}
    .menu{width:25%;}
    .item{width:100%;}
}
@media (min-width: 577px) and (max-width:760px) {
    .container {max-width:760px;min-height:40px;}
    .menu{width:25%;}
    .item{width:50%;}
}
@media (min-width: 761px) and (max-width: 1200px) {
    .container {max-width:1200px;}
    .menu{width:20%;min-width:140px;}
    .item{width:33.33%;}
}

@media (min-width: 1200px) {
    .container {max-width:1200px;}
    .menu{width:12.5%;min-width:140px;}
    .item{width:25%;}
}
a{text-decoration:none;color: #423c3c;}
.container{
  width: 100%;min-height:80px;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
/*header*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;line-height: 80px;
    background-color:rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    border-bottom: 1px solid #eee;
}
header .logo{float:left;font-size:1.8em;font-weight: bold;margin-left: 10px}
header .sort{float:right;padding-right: 5px;}
/*nav menu*/
.menu-card{
    margin-top:85px;
    line-height: 36px;
    font-size: 16px;
    margin-bottom: 4px;
}
.menu,.item{padding: 2px;}
.menu a{display:flex;border-radius:4px;background-color: #fff;padding-left: 15px;width: 100%;letter-spacing:2px;border-bottom:1px solid #fff;}
.menu .current{background:#e6ffe6;border-bottom: 1px solid #ccc;}
/*content items*/
.link{
    border-radius:4px;
    display: flex;
    width: 100% !important;height: 100% !important;padding: 0.5rem !important;
    background-color:#fff;
}
.icon{
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 10px;
}
.txt {margin-left: 0.5rem !important;}
.name{display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient: vertical;overflow: hidden;}
.desc{font-size: 12px;color: #a5a3a3;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient: vertical;overflow: hidden;}
.arrow{margin-left: auto !important;color:#ccc;display: flex;align-items: center !important;}

footer{margin-top:20px;line-height:80px;color:#666;background:#fff}
footer p{padding-right:10px;}
footer a{color: #666}.footer a:hover{color: #009;text-decoration: underline;}