/*public set*/
body{font-size: 14px;color: #333;background-size: cover;background: #fbfbfb}
body,h1,h2,h3,ul,ol,dl,li,form{margin: 0;padding: 0;}
ul,ol,li,dl,dt,dd{list-style: none;}
button,input,img{border: none;outline:none;}
input{
    width: 90%;
    height: 25px;
    border: 1px solid #add;
    border-radius: 4px;
    padding: 0 5px;
}
button{padding: 5px;margin: 0 5px;border: 1px solid #ccc;cursor: pointer;border-radius: 5px;width: 30%}
button:hover{background: #dde}
a{color: inherit;text-decoration: none;}
a:hover{color: red;}
.container{width: 96%;max-width: 1200px;margin:0 auto;}
.fl{float: left;}.fr{float: right;}.cf::after{content: "";display: block;clear: both;}
header{
    height: 35px;
    line-height: 35px;
    background: rgba(240, 240, 240, .2);
    border-bottom:1px solid rgba(222, 222, 222, .6);
    color: #999;
}
/*链接列表*/
.weblist{
    width: 100%;
    margin: 10px auto;
    line-height: 40px;
    text-align: center;
    border-collapse: collapse;
}
th{background-color: #f2f3e2}
table,th,tr{
    border: 1px solid #ccc;
}
tr:nth-child(even){}
tr:hover{background: #efefef}
/*设置*/
.note{
    color: #666;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
footer{
    height: 35px;
    color: #999;
    text-align: center;
}
.inout{
    display: flex;
    justify-content: space-between;
}
.inout #outOff,.inout #fileIn{
    width: 150px;
}

/**/
section{
    margin: 10px auto 20px;
    background: #fff;
    border-radius: 5px;
    padding: 5px;
}
section .bar{
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding-left: 50px;
    box-sizing: border-box;
    border-top: 1px solid #eee;
}
section .out{
    display: flex;
    margin: 10px auto;
    padding: 0 10px;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
}
section .out .inner{
/*    flex: 1;*/
    width: 120px;
    padding: 5px 10px 10px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: 0.3s all;
    cursor: pointer;
}
section .out .inner div{
    height: 30px;width: 30px;
    background: #fff;
    padding: 5px;
    border-radius: 10px;
    margin: 5px auto;
    border: 1px solid #efefef;
}
section .out .inner img{
    height: 30px;width: 30px;
    border-radius: 10px;
}
section .out .inner:hover{
    box-shadow: 1px 2px 8px #cde;
    background: #f5f5f5;
}