*{box-sizing:border-box;}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{background-color: #f5f5f5;font-size:14px;font-family: 'Microsoft YaHei', sans-serif;}
ul,li{list-style: none;}
@media (max-width: 576px) {
    .container {max-width: 576px;}
    .menu{width:25%;}
    .card{width:100%;}
}
@media (min-width: 577px) and (max-width:760px) {
    .container {max-width:760px;}
    .menu{width:25%;}
    .card{width:50%;}
}
@media (min-width: 761px) and (max-width: 1200px) {
    .container {max-width:1200px;}
    .menu{width:20%;min-width:140px;}
    .card{width:33.33%;}
}

@media (min-width: 1200px) {
    .container {max-width:1180px;}
    .menu{width:12.5%;min-width:140px;}
    .card{width:25%;}
}
a{text-decoration:none;color: #423c3c;}
.container{
  width: 100%;min-height:75px;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
/*header*/
header{
    position: fixed;
    top: 0;left: 0;
    width: 100%;line-height: 75px;
    background-color:rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 3px #eee;
    border-bottom: 1px solid #eee;
}
header .logo{float:left;font-size:1.8em;font-weight: bold;padding-left:45px;letter-spacing:1px;background: url(../image/logo.png) no-repeat 10px 22px;background-size: 30px}
header .sort{float:right;padding-right: 5px;font-size:1.5em;}
header .sort a{margin: 0 10px}
/*nav menu*/
.menu-card{
    margin-top:88px;
    line-height: 36px;
    font-size: 16px;
    margin-bottom: 4px;
}
.menu,.card{padding: 3px;}
.menu a{display:flex;border-radius:4px;background-color: #fff;padding-left: 15px;width: 100%;letter-spacing:2px;border-bottom:1px solid #fff;}
.menu .current{background:#e6ffe6;border-bottom: 1px solid #ccc;}
/*current path*/
.path{
  display:flow;
  margin: 10px 3px;padding: 0 10px;
  height:35px;line-height: 35px;
  border-radius: 4px;border: 1px solid #eaebec; border-radius:10px
}
/*content items*/
.link{
    border-radius:4px;
    display: flex;
    width: 100% !important;height: 100% !important;padding: 10px 8px !important;
    background-color:#fff;
}
.rec{
    box-shadow: 1px 1px 3px #ccc;
}
.icon{
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 10px;
}
.txt {margin-left: 0.5rem !important;}
.name{display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient: vertical;overflow: hidden;}
.desc{font-size: 12px;color: #a5a3a3;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient: vertical;overflow: hidden;}
/*.arrow{margin-left: auto !important;color:#ccc;display: flex;align-items: center !important;}*/
.extend{
  display:flow;
  margin-top: 20px;
  min-height:40px;
  border-radius: 4px;text-align: center;
}
.extend a{min-width: 80px;height: 30px;display: inline-block;border: 1px solid #cde; line-height: 30px;margin:5px 10px;padding: 0 15px;background: #fff;border-radius:15px}
.extend a:hover{background: #e6ffe6}
/*Footer*/
footer{margin-top:20px;line-height:75px;color:#666;background:#fff}
footer p{padding:0 5px}
footer a{color: #666}.footer a:hover{color: #009;text-decoration: underline;}