            <ul>
                <li><a href="https://claude.ai/">Claude</a></li>
                <li><a href="https://gemini.google.com/?hl=zh-cn">Gemini</a></li>
                <li><a href="https://pi.ai">PI.AI</a></li>
                <li><a href="https://chat.openai.com/">ChatGPT</a></li>
                <li><a href="https://poe.com/">P O E</a></li>
                <li><a href="https://ai.google.dev/gemma">Gemma</a></li>
                <li><a href="https://bard.google.com/">Bard</a></li>

                <li><a href="https://shanhai.unisound.com/">云 知 声</a></li>
                <li><a href="https://botvip.cn/">对 话 鸭</a></li>
                <li><a href="https://kooki.com.cn/">数 字 鸭</a></li>
                <li><a href="https://wanghongxiu.com/">网 红 秀</a></li>
                <li><a href="https://ai.wendabao-a.net/">问 答 宝</a></li>
                <li><a href="https://www.aizht.com/">智 慧 通</a></li>
                <li><a href="https://www.weijiwangluo.com/talk/?inviter=oBWUz5jL2T7sGzljTb5Fp3jRRGp4">海 鲸 AI</a></li>
                
                <li><a href="https://chat.baidu.com/">百度对话</a></li>
                <li><a href="https://tongyi.aliyun.com/qianwen/">通义千问</a></li>
                <li><a href="https://xinghuo.xfyun.cn/">讯飞星火</a></li>
                <li><a href="https://www.moonshot.cn/">月之暗面</a></li>
                <li><a href="https://www.doubao.com/chat/">抖音豆包</a></li>
                <li><a href="https://hunyuan.tencent.com/bot/">腾讯混元</a></li>
                <li><a href="https://chatglm.cn/">智谱清言</a></li>
                <li><a href="https://chat.sensetime.com/">商汤商量</a></li>
                <li><a href="https://search.tiangong.cn/">天工超能</a></li>
                <li><a href="https://andisearch.com/">安迪搜索</a></li>
                <li><a href="https://taichu-web.ia.ac.cn/">紫东太初</a></li>
                <li><a href="https://www.baichuan-ai.com/chat">百川智能</a></li>
                <li><a href="https://www.miraclevision.com/">奇想智能</a></li>
                <li><a href="https://luca.cn/">面壁露卡</a></li>
                
                <li><a href="https://zhinenghao.cn/">阿旺助手</a></li>
                <li><a href="http://www.datagrand.com/products/aigc/">曹 植</a></li>
                <li><a href="https://www.langboat.com/portal/mengzi-gpt">孟子GPT</a></li>
                <li><a href="https://www.ai-topia.com/">乌 托 邦</a></li>
                <li><a href="https://hyper.ai/">超 神 经</a></li>
                <li><a href="https://ai.xiemala.com/ai">协码啦</a></li>
                <li><a href="https://zhuankuai.com/">砖块社区</a></li>

                <li><a href="https://smartread.cc/">司 马 阅</a></li>
                <li><a href="https://allenai.org/">Allen</a></li>
                <li><a href="https://deepai.org/">DeepAI</a></li>
                <li><a href="https://www.jasper.ai/chat">Jasper</a></li>
                <li><a href="https://openai.com/blog">OpenAI</a></li>
                <li><a href="https://grok.x.ai/">GrOK</a></li>
                <li><a href="https://xihe.mindspore.cn/">昇 思</a></li>

                <li><a href="https://chatrtx.com/">ChatRTX</a></li>
                <li><a href="https://copilot.microsoft.com/">Copilot</a></li>
                <li><a href="https://www.mathgpt.com/">MathGPT</a></li>
                <li><a href="https://midjourney.com/">Midjourney</a></li>
                <li><a href="https://huggingface.co/chat">Hugging</a></li>
                <li><a href="https://stability.ai/">Stability</a></li>
                <li><a href="https://api.minimax.chat/">MiniMax</a></li>
            </ul>