            <ul>
                <li><a href="https://aidu.org.cn/">随 心 读</a></li>
                <li><a href="https://xktzs.com/">敏 感 词</a></li>
                <li><a href="https://www.aigaixie.com/">爱 改 写</a></li>
                <li><a href="https://www.ijiaodui.com/workbench">爱 校 对</a></li>
                <li><a href="https://aitools.run/">帮 个 忙</a></li>
                <li><a href="https://www.cuobiezi.net/">错 别 字</a></li>
                <li><a href="https://openl.io/zh/">OpenL</a></li>
                <li><a href="https://www.diaochapai.com/">调 查 派</a></li>
                <li><a href="http://www.wjx.cn/">问 卷 星</a></li>
                <li><a href="https://www.wenjuan.net/">问 卷 网</a></li>
                <li><a href="http://markdown.xiaoshujiang.com/">小 书 匠</a></li>
                <li><a href="http://www.ju1.cn/">句 易 网</a></li>
                <li><a href="https://knowme.xiaoduoai.com/">知 我 Ai</a></li>
                <li><a href="https://quillbot.com/">QuillBot</a></li>
                <li><a href="https://wordart.com/">词艺词云</a></li>
                <li><a href="https://www.moage.cn/">美寄词云</a></li>
                <li><a href="https://zj.xfyun.cn/exam/text">讯飞智检</a></li>
                <li><a href="https://www.aiundetect.com/zh_CN">文案检测</a></li>
                <li><a href="https://gptkit.ai/">文本检测</a></li>
                <li><a href="https://baigua.com/">白瓜助手</a></li>
                <li><a href="https://wordvice.ai/cn/proofreading">英语检查</a></li>
                <li><a href="https://www.comparetextonline.com/">文本比较</a></li>
                <li><a href="https://dun.163.com/trial/image">网易鉴黄</a></li>
                <li><a href="https://read.youdao.com/">有道速读</a></li>
                <li><a href="https://tongyi.aliyun.com/zhiwen">通义智文</a></li>
                <li><a href="https://wj.qq.com/">腾讯问卷</a></li>
                <li><a href="https://f.wps.cn/">金山表单</a></li>
                <li><a href="https://chatdoc.xfyun.cn/">星火文档</a></li>
                <li><a href="https://www.sitesmo.com/">思默问答</a></li>
                <li><a href="https://www.giipen.com/">智笔校对</a></li>
                <li><a href="https://sharenote.app/">分享笔记</a></li>
                <li><a href="https://privatebin.net/">阅后即焚</a></li>
                <li><a href="https://dycharts.com">镝数图表</a></li>
                <li><a href="http://chatgpt.dxai.chat/">东星智能</a></li>
                <li><a href="https://zhinenghao.cn/">阿旺助手</a></li>
                <li><a href="http://wyd.kvlab.org/">古文句读</a></li>
                <li><a href="https://ai.ai1t.com/#/login/register?code=YmV0dGVyc29mdA==">语叶聊天</a></li>
                <li><a href="https://east.im/chattool/">聊天总结</a></li>
                <li><a href="https://pub.visionon.cn/">在线白板</a></li>
                <li><a href="https://languagetool.org/pt">文本校对</a></li>
                <li><a href="https://check.rightknights.com/">维权骑士</a></li>
                <li><a href="https://fanqier.cn/">番茄表单</a></li>
                <li><a href="https://www.pomotodo.com/">番茄土豆</a></li>
                <li><a href="https://qingk.com/inv/W3HL2H1dMdkKj">氢刻</a><a href="https://qingtu.co/inv/6d0ed1b31b4b4ebcb208bf7c9eb07d6a">氢图</a></li>
                <li><a href="https://clean.justsong.cn/">文本格式化</a></li>
                <li><a href="https://weeklyreport.avemaria.fun/zh">周报生成器</a></li>
                <li><a href="https://opexams.com/zh-CN/free-questions-generator/">问题生成器</a></li>
                <li><a href="https://dazidazi.com/">打字测试</a></li>
                <li><a href="https://aihumanize.io/">Humanize</a></li>
            </ul>
            