            <ul>
                <li><a href="http://www.jetli.com.cn/">博客志</a></li>
                <li><a href="https://www.cnblogs.com/">博客园</a></li>
                <li><a href="https://www.infoq.cn/">InfoQ</a></li>
                <li><a href="https://coolshell.cn/">酷 壳</a></li>
                <li><a href="https://www.ruanyifeng.com/blog/weekly/">阮一峰</a></li>
                <li><a href="https://www.liaoxuefeng.com/">廖雪峰</a></li>
                <li><a href="https://www.zhangxinxu.com/">张鑫旭</a></li>
                <li><a href="https://mindhacks.cn/">刘未鹏</a></li>
                <li><a href="https://blog.codingnow.com/">云 风</a></li>
                <li><a href="https://www.jinxuliang.com/">金旭亮</a></li>
                <li><a href="https://liujinkai.com/">凯凯刘</a></li>
                <li><a href="https://www.piglei.com/">Piglei</a></li>
                <li><a href="https://www.netnoease.com/">网不易</a></li>
                <li><a href="https://huziyan.com/">胡子延</a></li>
                <li><a href="https://www.cliveshd.com/">董双赫</a></li>
                <li><a href="http://yume.ly/">Y U M E</a></li>
                <li><a href="https://note-star.cn/">笔记星球</a></li>
                <li><a href="https://moyude.ren/">摸鱼的人</a></li>
                <li><a href="https://dai.ge/">阿呆日记</a></li>
                <li><a href="https://pisky.asia/">拍 天 空</a></li>
                <li><a href="https://www.mangachat.co/">漫話日記</a></li>
                <li><a href="https://blog.csdn.net/programmer_editor">新程序员</a></li>
                <li><a href="https://www.williamlong.info/">月光播客</a></li>
                <li><a href="https://mooool.com/">木藕设计</a></li>
                <li><a href="https://craftlog.com/cn/%E6%9C%A8%E5%B7%A5/">木工创意</a></li>
                <li><a href="https://nigzu.com/">Nam-Dub</a></li>
                <li><a href="https://ssshooter.com/">Usubeni</a></li>
                <li><a href="https://iirose.com/">蔷薇花园</a></li>
                <li><a href="https://isux.tencent.com/">腾讯ISUX</a></li>
                <li><a href="https://aotu.io/">凹凸实验室</a></li>
                <li><a href="https://alloyteam.github.io/">AlloyTeam</a></li>
                <li><a href="https://flipermag.com/">Fliper Mag</a></li>
                <li><a href="http://beforweb.com/">Be For Web</a></li>
                <li><a href="http://papercrave.com/">纸张爱好者</a></li>
            </ul>