            <ul>
                <li><a href="https://afdian.net/">爱 发 电</a></li>
                <li><a href="https://mbd.pub/">面 包 多</a></li>
                <li><a href="http://www.bianxianmao.com/">变 现 猫</a></li>
                <li><a href="https://www.1txm.com/">易 条 形</a></li>
                <li><a href="https://www.zhimaoai.cn/">智 猫 AI</a></li>
                <li><a href="https://www.duoduoyin.com/">多 多 印</a></li>
                <li><a href="https://www.zhongchou.com/">众 筹 网</a></li>
                <li><a href="https://help.xiaobot.net/">小 报 童</a></li>
                <li><a href="https://www.yunzhan365.com/">云 展 网</a></li>
                <li><a href="https://www.pailixiang.com">拍 立 享</a></li>
                <li><a href="https://www.urlc.cn/">短 网 址</a></li>
                <li><a href="https://www.patreon.com/zh-CN">赞 助 网</a></li>
                <li><a href="https://typlog.com/">Typlog</a></li>
                <li><a href="https://www.pgyer.com/">蒲 公 英</a></li>
                <li><a href="https://www.tupianfanyiqi.com/">图片翻译</a></li>
                <li><a href="https://zhubai.love/">竹白创作</a></li>
                <li><a href="https://fireside.fm/">Fireside</a></li>
                <li><a href="https://zhiy.cc/">知园创作</a></li>
                <li><a href="https://share.partnershare.net/inWrV4">联盟推广</a></li>
                <li><a href="https://union.duomai.com/">多麦联盟</a></li>
                <li><a href="https://www.kdzs.com/">快递助手</a></li>
                <li><a href="https://www.hairuilegal.cn/">海瑞智法</a></li>
                <li><a href="https://app.bblog.cc/">数字名片</a></li>
                <li><a href="https://www.notion.pet/">效率时代</a></li>
                <li><a href="https://buymeacoffee.com/">买杯咖啡</a></li>
                <li><a href="https://www.dgy2.com/#/register?code=sQrPIAw3" title="访问外网必备">科学上网</a></li>
                <li><a href="https://wwads.cn/">万维广告</a></li>
                <li><a href="https://www.alimama.com/">阿里妈妈</a></li>
                <li><a href="https://union.baidu.com/">百度联盟</a></li>
                <li><a href="https://analytics.google.com/">谷歌分析</a></li>
                <li><a href="https://weixunlogin.com/">微信登录</a></li>
                <li><a href="https://www.kuaifan.co/">回国加速器</a></li>
                <li><a href="https://www.noip.com/">动态DNS</a></li>
                <li><a href="https://www.canalys.com/">Canalys</a></li>
                <li><a href="https://www.fapiaohezi.com/">发票盒子</a></li>
                <li><a href="https://wise.com/">在线汇款</a></li>
                <li><a href="https://dun.163.com/">网易易盾</a></li>
                <li><a href="https://namebeta.com/">域名查询</a></li>
            </ul>