            <ul>
                <li><a href="https://hanziyuan.net/">汉 字 源</a></li>
                <li><a href="https://www.yuwenmi.com/">语 文 迷</a></li>
                <li><a href="http://www.guoxuemi.com/">国 学 迷</a></li>
                <li><a href="https://www.wenyanmi.com/">文 言 迷</a></li>
                <li><a href="https://www.quanxue.cn/">劝 学 网</a></li>
                <li><a href="http://dict.iguci.cn/">爱 古 瓷</a></li>
                <li><a href="https://www.kanripo.org/">汉 籍 网</a></li>

                <li><a href="https://www.shuge.org/">书 格 网</a></li>
                <li><a href="https://ytenx.org/">韵 典 网</a></li>
                <li><a href="https://sou-yun.cn/">搜 韵 网</a></li>
                <li><a href="https://www.cantonese.ca/">广 东 话</a></li>
                <li><a href="https://www.asklib.com/">问 答 库</a></li>
                <li><a href="http://www.hydcd.com/">汉 辞 网</a></li>
                <li><a href="http://www.guoxue.com/">国 学 网</a></li>

                <li><a href="https://zh.forvo.com/">发音词典</a></li>
                <li><a href="https://www.gujiguan.com/">古 籍 馆</a></li>
                <li><a href="https://www.quantangshi.cn/">全 唐 诗</a></li>
                <li><a href="https://zi.tools/">字 統 网</a></li>
                <li><a href="https://xiaoxue.iis.sinica.edu.tw/">小 学 堂</a></li>
                <li><a href="https://gongchepu.net/">工 尺 譜</a></li>
                <li><a href="https://zh.voicedic.com/">方言发音</a></li>

                <li><a href="https://www.guoxuedashi.net/">国学大师</a></li>
                <li><a href="https://ctext.org/zhs/">中国哲学</a></li>
                <li><a href="https://www.cnkeywords.net/">中国词汇</a></li>
                <li><a href="https://hanyu.baidu.com/">百度汉语</a></li>
                <li><a href="http://yedict.com/">字海叶典</a></li>
                <li><a href="https://www.cihai.com.cn/">辞海在线</a></li>
                <li><a href="https://www.shufazidian.com/">书法字典</a></li>
                <li><a href="http://www.hanyupinyin.org/">汉语拼音</a></li>
                <li><a href="https://ccddb.econ.hc.keio.ac.jp/wiki/%E9%A6%96%E9%A0%81">古典戏曲</a></li>

                <li><a href="https://erya.mooc.chaoxing.com/">超星尔雅</a></li>
                <li><a href="https://www.wenxianxue.cn/">古典文献</a></li>
                <li><a href="https://www.shidianguji.com/">识典古籍</a></li>
                <li><a href="https://www.socolar.com/">教育图书</a></li>
                <li><a href="https://ncpssd.org/">社科文献</a></li>

                <li><a href="http://kangxi.adcs.org.tw/">康熙字典</a></li>
                <li><a href="http://szsw.bnu.edu.cn/">说文解字</a></li>
                <li><a href="https://wyw.hwxnet.com/">文言字典</a></li>
                <li><a href="http://www.vividict.com">象形字典</a></li>
                <li><a href="https://qxk.bnu.edu.cn/">汉字全息</a></li>
                <li><a href="https://dict.variants.moe.edu.tw/">异体字典</a></li>
                <li><a href="http://www.ccamc.co/">古今文字</a></li>
                <li><a href="https://www.modernhistory.org.cn/">近代文献</a></li>
                <li><a href="http://ckipsvr.iis.sinica.edu.tw/">中文断词</a></li>
                <li><a href="https://seg.shenshen.wiki/">古诗断句</a></li>
                <li><a href="https://www.chinesethought.cn/">中华思想</a></li>
                <li><a href="https://www.guwenshici.com/">古文诗词</a></li>
            </ul>