            <ul>
                <li><a href="https://nipponcolors.com/">日 本 色</a></li>
                <li><a href="http://zhongguose.com">中 国 色</a></li>
                <li><a href="https://colorsnap.vercel.app/">渐变色</a></li>
                <li><a href="https://petalica.com/">线稿上色</a></li>
                <li><a href="https://coolbackgrounds.io/">背景设计</a></li>
                <li><a href="https://palette.fm/">图片上色</a></li>
                <li><a href="https://app.haikei.app/">背景图片</a></li>
                <li><a href="https://aicolors.co/">AI Color</a></li>
                <li><a href="https://colors.eva.design/">EVA color</a></li>
                <li><a href="https://mycolor.space/">ColorSpace</a></li>
                <li><a href="https://color.dumogu.top/">毒蘑菇配色</a></li>
                <li><a href="https://webgradients.com/">背景渐变色</a></li>
                <li><a href="https://www.oddcontrast.com/">颜色对比度</a></li>
            </ul>