            <ul>
                <li><a href="https://bbs.kanxue.com/">看 雪</a></li>
                <li><a href="https://leetcode.cn/">力 扣</a></li>
                <li><a href="https://segmentfault.com/">思 否</a></li>
                <li><a href="https://juejin.cn/">掘 金</a></li>
                <li><a href="https://gitee.com/enterprises?invite_code=Z2l0ZWUtMTExOTQxNDc%3D">码 云</a></li>
                <li><a href="https://about.gitlab.com/">GitLab</a></li>
                <li><a href="https://github.com/">GitHub</a></li>

                <li><a href="https://www.yuanjisong.com/">猿 急 送</a></li>
                <li><a href="https://xhh.club/">小 红 花</a></li>
                <li><a href="https://learnku.com/">学 习 库</a></li>
                <li><a href="https://www.yesapi.cn/">果 创 云</a></li>
                <li><a href="http://www.banshujiang.cn/">搬 书 匠</a></li>
                <li><a href="http://www.xiaoyaoji.cn/">小 幺 鸡</a></li>
                <li><a href="https://config.net.cn/">配 置 啦</a></li>

                <li><a href="https://developers.weixin.qq.com/">微信开发</a></li>
                <li><a href="https://developer.huawei.com/consumer/cn/">鸿蒙开发</a></li>
                <li><a href="https://developer.aliyun.com/">阿里开发</a></li>
                <li><a href="https://www.oschina.net/">开源中国</a></li>
                <li><a href="https://www.xfyun.cn/">讯飞平台</a></li>
                <li><a href="https://searchcode.com/">代码搜索</a></li>
                <li><a href="https://stackoverflow.com/">堆栈溢出</a></li>

                <li><a href="https://sky-code.singularity-ai.com/">天工智码</a></li>
                <li><a href="https://xz.aliyun.com/">先知社区</a></li>
                <li><a href="https://testerhome.com/">测试之家</a></li>
                <li><a href="http://www.51testing.com/">软件测试</a></li>
                <li><a href="https://astexplorer.net/">代码解析</a></li>
                
                <li><a href="https://solo.xin/">独立开发</a></li>
                <li><a href="https://www.partnershare.cn/">产品分享</a></li>
                <li><a href="https://www.ezindie.com/">产品变现</a></li>
                <li><a href="https://aijishu.com/">极术社区</a></li>
                <li><a href="https://www.zaozao.run/">前端早早</a></li>
                <li><a href="http://www.uxtools.cc/list">用户体验</a></li>
                <li><a href="https://www.fastmirror.net/">无极镜像</a></li>
                <li><a href="https://quickref.cn/">备忘清单</a></li>
                <li><a href="https://www.fang-cun.net/">方寸笔迹</a></li>
                <li><a href="https://www.loginsight.top/">日志分析</a></li>
                <li><a href="https://www.jisuapi.com/">极速数据</a></li>
                <li><a href="https://www.pm-ai.cn/">产品助手</a></li>
                <li><a href="https://the-algorithms.com/zh_Hans">开源算法</a></li>
                <li><a href="https://www.aw-ol.com/">全志在线</a></li>
                <li><a href="http://goregex.cn/">正则工具</a></li>
                <li><a href="https://w2solo.com/">独立开发</a></li>
                <li><a href="https://www.proginn.com/">程序员客栈</a></li>
                <li><a href="https://www.cmd5.com/">密码明文</a></li>
                <li><a href="https://godbolt.org/">Compiler</a></li>
                <li><a href="https://codegeex.cn/">CodeGeeX</a></li>
                <li><a href="https://www.finclip.com/">FinClip</a></li>
                <li><a href="https://cn.widgetstore.net/">组件世界</a></li>
                <li><a href="https://r.xjq.icu/">代码编辑器</a></li>
                
                <li><a href="https://copy.sh/">模拟系统</a></li>
                <li><a href="https://www.gitwork.cn/">GitWork</a></li>
                <li><a href="https://laf.run/">Laf</a></li>
                <li><a href="https://www.shengwang.cn/">声网</a></li>
                <li><a href="https://www.dingshao.cn/">盯梢</a></li>
            </ul>
                