            <ul>
                <li><a href="https://www.feishu.cn/">飞 书</a></li>
                <li><a href="https://www.yuque.com/">语 雀</a></li>
                <li><a href="https://www.qingque.cn/">轻 雀</a></li>
                <li><a href="https://slack.com/intl/zh-cn/">Slack</a></li>
                <li><a href="https://www.kancloud.cn/">看 云</a></li>
                <li><a href="https://www.wentu.io/">文 图</a></li>
                <li><a href="https://www.leiniao365.com/">雷 鸟</a></li>
                <li><a href="https://jinshuju.net/">金 数 据</a></li>
                <li><a href="https://xiaohuazhuo.com/">小 画 桌</a></li>
                <li><a href="https://pptist.gitee.io/">演 示 稿</a></li>
                <li><a href="https://zoom.us/">zoom</a></li>
                <li><a href="https://www.yciyun.com/">易 词 云</a></li>
                <li><a href="https://www.weiciyun.com/">微 词 云</a></li>
                <li><a href="https://chatexcel.com/">在线表格</a></li>
                <li><a href="https://shutu.cn/">TreeMind</a></li>
                <li><a href="https://gitmind.cn/">GitMind</a></li>
                <li><a href="https://www.chatppt.com/">ChatPPT</a></li>
                <li><a href="https://www.aippt.cn/">AiPPT</a></li>
                <li><a href="https://iflynote.com/">讯飞语记</a></li>
                <li><a href="https://docs.google.com/">谷歌文档</a></li>
                <li><a href="https://www.office.com/">微软办公</a></li>
                <li><a href="https://docs.qq.com/">腾讯文档</a></li>
                <li><a href="https://iflydocs.com/">讯飞文档</a></li>
                <li><a href="https://www.kdocs.cn">金山文档</a></li>
                <li><a href="https://www.wps.cn">金山办公</a></li>
                <li><a href="https://note.youdao.com/">有道笔记</a></li>
                <li><a href="https://www.yinxiang.com/">印象笔记</a></li>
                <li><a href="https://leanote.com/">蚂蚁笔记</a></li>
                <li><a href="https://shimo.im/">石墨文档</a></li>
                <li><a href="http://co.youdao.com">有道协作</a></li>
                <li><a href="https://www.teambition.com/">阿里协作</a></li>
                <li><a href="https://meeting.tencent.com/">腾讯会议</a></li>
                <li><a href="https://meeting.iflyrec.com/">讯飞听见</a></li>
                <li><a href="https://tingwu.aliyun.com/">通义听悟</a></li>
                <li><a href="http://www.liuchengtu.com/">迅捷画图</a></li>
                <li><a href="http://naotu.baidu.com/">百度脑图</a></li>
                <li><a href="https://work.duiopen.com/">麦耳会记</a></li>
                <li><a href="https://note.wiz.cn">为知笔记</a></li>
                <li><a href="https://boardmix.cn/">博思白板</a></li>
                <li><a href="https://www.edrawmax.cn/">亿图在线</a></li>
                <li><a href="https://www.jsform.com/">表单大师</a></li>
                <li><a href="https://chartcube.alipay.com/">图表魔方</a></li>
                <li><a href="https://www.sankki.com/">闪击矩阵</a></li>
                <li><a href="https://zhimap.com/">思维导图</a></li>
                <li><a href="https://askyourpdf.com/">文档对话</a></li>
                <li><a href="https://www.sheetrans.com/">表格翻译</a></li>
                <li><a href="https://www.mindshow.fun/">在线演示</a></li>
                <li><a href="https://www.processon.com/">ProcessOn</a></li>
                <li><a href="http://www.yishijuan.com/editor">在线Excel</a></li>
                <li><a href="https://boardos.online/">超级白板</a></li>
                
                <li><a href="https://www.ppzhilian.com/">设备直连</a></li>
                <li><a href="https://www.makeamap.cn/">易制地图</a></li>
                <li><a href="https://flowus.cn/">息流协作</a></li>
                <li><a href="https://worktile.com/" title="worktile">项目协作</a></li>
                <li><a href="https://wormhole.app/">文件分享</a></li>
                <li><a href="https://www.yozodcs.com/">文档预览</a></li>
                <li><a href="https://www.woodo.cn/">吾道幻灯片</a></li>
            </ul>
                