            <ul>
                <li><a href="http://www.moe.gov.cn/">教 育 部</a></li>
                <li><a href="http://www.jyb.cn/">教 育 报</a></li>
                <li><a href="http://www.pep.com.cn/">人 教 社</a></li>
                <li><a href="https://www.jiemodui.com/">芥 末 堆</a></li>
                <li><a href="http://www.hep.com.cn/">高 教 社</a></li>
                <li><a href="https://www.smartedu.cn/">智 教 网</a></li>
                <li><a href="https://www.chsi.com.cn/">学 信 网</a></li>

                <li><a href="http://www.zhyww.cn/">语 文 报</a></li>
                <li><a href="http://www.zuowen.com/">作 文 网</a></li>
                <li><a href="http://www.aoshu.com/">奥 数 网</a></li>
                <li><a href="http://www.zhongkao.com/">中 考 网</a></li>
                <li><a href="http://www.gaokao.com/">高 考 网</a></li>
                <li><a href="http://www.kaoyan.com/">考 研 帮</a></li>
                <li><a href="http://www.cscse.edu.cn/">留 学 网</a></li>
                
                <li><a href="https://www.examcoo.com/">考 试 酷</a></li>
                <li><a href="http://www.icourses.cn/">爱 课 程</a></li>
                <li><a href="https://www.busuu.com/">博 树 网</a></li>
                <li><a href="https://www.eduyun.cn/">教 育 云</a></li>
                <li><a href="http://www.chinateacher.com.cn/">教 师 报</a></li>
                <li><a href="https://www.gaokaoya.cn/">高 考 鸭</a></li>
                <li><a href="http://www.mooc.cn/">慕课中国</a></li>
                <li><a href="https://ke.qq.com/">腾讯课堂</a></li>
                <li><a href="https://study.163.com/">网易课堂</a></li>
                <li><a href="http://www.ouchn.cn/">国开大学</a></li>
                <li><a href="https://www.pmphmooc.com/">人卫慕课</a></li>
                <li><a href="http://open.nlc.cn">国图公课</a></li>
                <li><a href="https://dict.eudic.net/">欧路词典</a></li>
                <li><a href="https://bbs.qzzn.com/">公考论坛</a></li>
                <li><a href="http://www.chinesetest.cn/">中文考试</a></li>
                <li><a href="https://www.claonline.cn/">外语测评</a></li>
                <li><a href="http://www.cpta.com.cn/">人事考试</a></li>
                <li><a href="http://cnwwj.com/">翻译考试</a></li>
                <li><a href="https://www.jszg.edu.cn/">教师资格</a></li>
                <li><a href="https://studycli.org/zh-CN/">汉语学院</a></li>
                <li><a href="https://www.chinaooc.com.cn/">高等教育</a></li>
                <li><a href="https://www.cipgtraining.org/">外文教育</a></li>
                <li><a href="http://www.china-language.edu.cn/">汉语文字</a></li>
                <li><a href="https://www.chinese-learning.cn/">中文学习</a></li>
                <li><a href="http://www.huatu.com/">华图公考</a></li>
                <li><a href="https://www.neea.cn/">教育考试网</a></li>
                <li><a href="https://www.cltt.org/">普通话测试</a></li>
            </ul>