            <ul>
                <li><a href="http://www.mtime.com/">时 光 网</a></li>
                <li><a href="http://www.1905.com/">电 影 网</a></li>
                <li><a href="http://chinafilmnews.cn/">电 影 报</a></li>
                <li><a href="https://www.dianyingjie.com/">电 影 界</a></li>
                <li><a href="https://www.rottentomatoes.com/">烂 番 茄</a></li>
                <li><a href="https://www.1958xy.com/">西 影 网</a></li>
                <li><a href="http://www.zlook.com/">看 点 网</a></li>
                <li><a href="https://www.imdb.com">IMDb</a></li>
                <li><a href="https://www.flixster.com/">Flixster</a></li>
                <li><a href="https://www.hypesphere.com">狂 热 球</a></li>
                <li><a href="https://www.bfi.org.uk/sight-and-sound">视 与 听</a></li>
                <li><a href="https://www.filmaker.cn/">拍 电 影</a></li>
                <li><a href="https://www.themoviedb.org/">TMDB</a></li>
                <li><a href="https://www.mrqe.com/">MRQE</a></li>
                <li><a href="http://cinehello.com/">影视工业</a></li>
                <li><a href="https://www.huanxi.com/">欢喜首映</a></li>
                <li><a href="https://v.vcinema.cn/">南瓜电影</a></li>
                <li><a href="https://maoyan.com/">猫眼电影</a></li>
                <li><a href="https://www.20thcenturystudios.com/">20福克斯</a></li>
                <li><a href="https://www.cikeee.com/">电影日历</a></li>
                <li><a href="https://ys.endata.cn/">艺恩票房</a></li>
                <li><a href="https://www.filmcomment.com/">电影评论</a></li>
                <li><a href="https://pipitv.com/">皮皮电影</a></li>
                <li><a href="https://www.duopian.cc/">多片资源</a></li>
                <li><a href="http://www.dushumashang.com/type/30.html">嘟嘟电影</a></li>
                <li><a href="https://soupian.pro/">搜片资源</a></li>
                <li><a href="https://www.yinfans.net/">音 范 丝</a></li>
                <li><a href="https://www.filmcritics.org.hk/">香港影评</a></li>
                <li><a href="http://www.chinafilm.com/">中国电影网</a></li>
                <li><a href="http://www.chinafilm.gov.cn/">国家电影局</a></li>
                <li><a href="https://movieweb.com/">MovieWeb</a></li>
                <li><a href="https://www.metacritic.com/">Metacritic</a></li>
                <li><a href="https://www.rogerebert.com/">RogerEbert</a></li>
                <li><a href="https://www.cfa.org.cn/">电影资料馆</a></li>
                <li><a href="http://www.cnfm.org.cn/">电影博物馆</a></li>
                <li><a href="http://www.hkfaa.com/">香港金像奖</a></li>
                <li><a href="http://www.bjiff.com/">北京电影节</a></li>
                <li><a href="https://www.berlinale.de/">柏林电影节</a></li>
                <li><a href="https://screenmusings.org/">电影截图集</a></li>
                <li><a href="http://www.cfca-c.org/">中国影著协</a></li>
                <li><a href="http://www.chinafilm.org.cn/">发行放映协会</a></li>
                <li><a href="https://www.zgdypw.cn">中国电影数据</a></li>
                <li><a href="https://www.boxofficemojo.com/">BoxOfficeMojo</a></li>
                <li><a href="https://www.moviesoon.com/">好莱坞电影手册</a></li>
                <li><a href="http://www.cff.net.cn/">中国电影基金</a></li>
                <li><a href="http://www.filmacademic.cn/">中国电影学术</a></li>
                <li><a href="https://www.pianke.tv/">片刻电影分享</a></li>
            </ul>