            <ul>
                <li><a href="https://www.aol.com/">AOL</a></li>
                <li><a href="http://www.bbc.com">BBC</a></li>
                <li><a href="http://www.cnn.com/">CNN</a></li>
                <li><a href="https://www.foxnews.com/">Fox</a></li>
                <li><a href="http://www.ft.com/" title="Financial Times">F T</a></li>
                <li><a href="https://www.nationalgeographic.com/" title="National Geographic">N G</a></li>
                <li><a href="https://www.ted.com/">TED</a></li>
                <li><a href="https://www.afp.com/">AFP</a></li>
                <li><a href="http://www.nytimes.com/">NYT</a></li>
                <li><a href="https://www.yahoo.com/">Yahoo</a></li>
                <li><a href="https://www.msn.com" class="blue">MSN</a></li>
                <li><a href="http://online.wsj.com/">WSJ</a></li>
                <li><a href="http://www.voanews.com/">VOA</a></li>
                <li><a href="http://www.time.com/">TIME</a></li>

                <li><a href="https://www.cnbc.com">CNBC</a></li>
                <li><a href="https://www.espn.com/">ESPN</a></li>
                <li><a href="http://www.ask.com/">Ask</a></li>
                <li><a href="https://www.yelp.com/">Yelp</a></li>
                <li><a href="https://path.com/">Path</a></li>
                <li><a href="http://www.hulu.com/">Hulu</a></li>
                <li><a href="https://www.ebay.com/">eBay</a></li>

                <li><a href="https://www.reddit.com/">Reddit</a></li>
                <li><a href="https://www.quora.com/">Quora</a></li>
                <li><a href="http://www.reuters.com/">Reuters</a></li>
                <li><a href="https://www.forbes.com/">Forbes</a></li>
                <li><a href="https://fortune.com/">Fortune</a></li>
                <li><a href="https://variety.com/">Variety</a></li>
                <li><a href="http://cn.match.com/">Match</a></li>

                <li><a href="http://www.linkedin.com/">Linkedin</a></li>
                <li><a href="http://www.vimeo.com/">Vimeo</a></li>
                <li><a href="http://twitter.com/">Twitter</a></li>
                <li><a href="http://www.youtube.com/">YouTube</a></li>
                <li><a href="https://www.tumblr.com/">Tumblr</a></li>
                <li><a href="https://www.amazon.com/">Amazon</a></li>
                <li><a href="https://www.walmart.com/">Walmart</a></li>

                <li><a href="http://www.craigslist.org/">Craigslist</a></li>
                <li><a href="http://www.snapchat.com/">Snapchat</a></li>
                <li><a href="http://www.netflix.com/">NetFlix</a></li>
                <li><a href="http://www.facebook.com/">Facebook</a></li>
                <li><a href="http://pinterest.com/">Pinterest</a></li>
                <li><a href="https://www.playboy.com/">Playboy</a></li>
                <li><a href="https://www.instagram.com/">Instagram</a></li>

                <li><a href="https://www.buzzfeed.com/">BuzzFeed</a></li>
                <li><a href="https://www.newsweek.com/">Newsweek</a></li>
                <li><a href="http://www.businessweek.com/">Business</a></li>
                <li><a href="http://www.bloomberg.com/">Bloomberg</a></li>
                <li><a href="https://www.theguardian.com/">Guardian</a></li>
                <li><a href="https://www.dailymail.co.uk/">DailyMail</a></li>
                <li><a href="https://timesmagazin.com/">Times Mag</a></li>

                <li><a href="https://www.thetimes.co.uk/">TheTimes</a></li>
                <li><a href="https://www.ettoday.net/">ETtoday</a></li>
                <li><a href="https://www.indiatoday.in/">IndiaToday</a></li>
                <li><a href="https://www.un.org/">United Nations</a></li>
                <li><a href="https://apnews.com/">A P</a></li>
            </ul>
                