            <ul>
                <li><a href="https://www.court.gov.cn/">最 高 院</a></li>
                <li><a href="https://www.spp.gov.cn/">最 高 检</a></li>
                <li><a href="http://www.mofcom.gov.cn/">商 务 部</a></li>
                <li><a href="https://www.miit.gov.cn/">工 信 部</a></li>
                <li><a href="https://www.nia.gov.cn/">移 民 局</a></li>
                <li><a href="https://www.cbirc.gov.cn/">银 保 监</a></li>
                <li><a href="https://www.mps.gov.cn/">公 安 部</a></li>
                <li><a href="https://www.nrta.gov.cn/">广 电 局</a></li>
                <li><a href="https://www.caac.gov.cn/">民 航 局</a></li>
                <li><a href="https://www.mot.gov.cn/">交 通 部</a></li>
                <li><a href="https://www.mca.gov.cn/">民 政 部</a></li>
                <li><a href="https://www.mohurd.gov.cn/">住 建 部</a></li>
                <li><a href="http://www.mohrss.gov.cn/">人 社 部</a></li>
                <li><a href="https://www.gqb.gov.cn/">侨 务 办</a></li>
                <li><a href="http://wcjs.sbj.cnipa.gov.cn/">商 标 网</a></li>
                <li><a href="https://www.faxin.cn/">法 信 网</a></li>
                <li><a href="http://www.nhc.gov.cn/">卫 健 委</a></li>
                <li><a href="http://www.saac.gov.cn/">档 案 局</a></li>
                <li><a href="https://www.gfbzb.gov.cn/">征 兵 网</a></li>
                <li><a href="https://openstd.samr.gov.cn/bzgk/gb/">国标公开</a></li>
                <li><a href="https://std.samr.gov.cn/">国标服务</a></li>
                <li><a href="https://www.qybz.org.cn/">企业标准</a></li>
                <li><a href="https://www.spc.org.cn/">标准在线</a></li>
                <li><a href="http://www.cnipa.gov.cn/">知识产权</a></li>
                <li><a href="http://www.ccopyright.com.cn/">版权保护</a></li>
                <li><a href="https://cprs.patentstar.com.cn/">专利之星</a></li>
                <li><a href="http://www.pbccrc.org.cn/">征信中心</a></li>
                <li><a href="https://www.creditchina.gov.cn/">信用中国</a></li>
                <li><a href="https://wzxxbg.mofcom.gov.cn/gspt/">外商公示</a></li>
                <li><a href="http://credit.customs.gov.cn/">进出口信用</a></li>
                <li><a href="https://www.cods.org.cn/">统一代码</a></li>
                <li><a href="http://www.gjsy.gov.cn/">机关登记</a></li>
                <li><a href="http://cs.mfa.gov.cn/">领事服务</a></li>
                <li><a href="http://www.gs1cn.org/">物品编码</a></li>
                <li><a href="https://www.cqc.com.cn/">质量认证</a></li>
                <li><a href="https://www.12309.gov.cn/">中国检察</a></li>
                <li><a href="https://jwxk.miit.gov.cn/">电信进网</a></li>
                <li><a href="https://credit.acla.org.cn/">律师执业</a></li>
                <li><a href="https://www.jszg.edu.cn/">教师资格</a></li>
                <li><a href="http://qszt.net/">生产许可</a></li>
                <li><a href="https://www.eshian.com/">食品安全</a></li>
                <li><a href="http://www.negq.org.cn/">电子质检</a></li>
                <li><a href="http://www.scopsr.gov.cn/">机构编制</a></li>
                <li><a href="http://www.scs.gov.cn/">公务员局</a></li>
                <li><a href="https://laosheng.top/fly/">新闻媒体</a></li>
                <li><a href="https://www.mnr.gov.cn/">自然资源部</a></li>
                <li><a href="https://tingshen.court.gov.cn/">庭审公开</a></li>
                <li><a href="http://www.12333.gov.cn/">12333</a></li>
                <li><a href="http://www.samr.gov.cn/">市场监管</a></li>
                <li><a href="https://wsfw.mva.gov.cn/">退役军人服务</a></li>
                <li><a href="https://www.patentnavi.org.cn/">专利导航服务</a></li>
                <li><a href="https://lspt.court.gov.cn/">律师服务平台</a></li>
                <li><a href="https://pub.cppinfo.cn/">出版发行服务</a></li>
                <li><a href="https://cc.ccpit.org/">企业合规服务</a></li>
                <li><a href="https://www.gsxt.gov.cn/">企业信用公示</a></li>
                <li><a href="http://zxgk.court.gov.cn/">被执行人信息</a></li>
                <li><a href="http://daam.bigdataplatform.org.cn/">数据资产登记</a></li>
                <li><a href="https://www.sgst.cn/">上海研发服务</a></li>
                <li><a href="https://www.inanshan.org.cn/">南山服务平台</a></li>
                    <li><a href="http://cx.cnca.cn/">认证认可</a></li>
                    <li><a href="https://www.patentnavi.org.cn/">专利服务</a></li>
                    <li><a href="https://www.gmpsp.org.cn/">绿色制造</a></li>
            </ul>
                