            <ul>
                <li><a href="http://www.12379.cn/">突发预警</a></li>
                <li><a href="http://www.cneb.gov.cn/">应急广播</a></li>
                <li><a href="https://www.piyao.org.cn/">网络辟谣</a></li>
                <li><a href="https://livechina.cctv.com/">直播中国</a></li>
                <li><a href="http://www.carnoc.com/">民航资讯</a></li>
                <li><a href="https://art.icity.ly/">艺术展览</a></li>
                <li><a href="https://hotels.ctrip.com/?AllianceID=4090906&sid=32002090&ouid=kfptpcljzh">携程酒店</a></li>

                <li><a href="https://zhidao.baidu.com/">百度知道</a></li>
                <li><a href="https://weixin.sogou.com/">微信搜索</a></li>
                <li><a href="http://news.baidu.com/">百度新闻</a></li>
                <li><a href="https://map.baidu.com/">百度地图</a></li>
                <li><a href="https://www.chinaso.com/">中国搜索</a></li>
                <li><a href="https://scholar.google.com/">谷歌学术</a></li>
                <li><a href="http://www.53bk.com/baokan/">全国报刊</a></li>
                
                <li><a href="https://time.is/">标准时间</a></li>
                <li><a href="https://www.huangli.com/">中国黄历</a></li>
                <li><a href="https://weixin.hngscloud.com/">河南高速</a></li>
                <li><a href="https://mp.weixin.qq.com/">公众平台</a></li>
                <li><a href="https://tb.jiuxinban.com/7U8rDU">平价精选</a></li>
                <li><a href="https://www.dgy2.com/#/register?code=sQrPIAw3">科学上网</a></li>
                <li><a href="https://www.twitch.tv/">Twitch</a></li>
            </ul>
                