            <ul>
                <li><a href="http://www.12379.cn/">突发预警</a></li>
                <li><a href="http://www.cneb.gov.cn/">应急广播</a></li>
                <li><a href="https://www.newyorker.com/">纽约客</a></li>
                <li><a href="https://www.twitch.tv/">Twitch</a></li>
                <li><a href="https://theinitium.com/">端传媒</a></li>
                <li><a href="https://www.piyao.org.cn/">网络辟谣</a></li>
                <li><a href="https://livechina.cctv.com/">直播中国</a></li>
                <li><a href="http://www.carnoc.com/">民航资讯</a></li>
                <li><a href="https://art.icity.ly/">环球展览</a></li>
                <li><a href="https://hotels.ctrip.com/?AllianceID=4090906&sid=32002090&ouid=kfptpcljzh">携程酒店</a></li>

                <li><a href="https://zhidao.baidu.com/">百度知道</a></li>
                <li><a href="https://top.baidu.com/">百度热搜</a></li>
                <li><a href="https://weixin.sogou.com/">微信搜索</a></li>
                <li><a href="http://news.baidu.com/">百度新闻</a></li>
                <li><a href="https://map.baidu.com/">百度地图</a></li>
                <li><a href="https://www.chinaso.com/">中国搜索</a></li>
                <li><a href="https://scholar.google.com/">谷歌学术</a></li>
                <li><a href="http://www.53bk.com/baokan/">全国报刊</a></li>
                
                <li><a href="https://www.hsmy.fun/">浑水热榜</a></li>
                <li><a href="https://weixin.hngscloud.com/">河南高速</a></li>
                <li><a href="html/poem.html">今日诗词</a></li>
                <li><a href="https://www.dgy2.com/#/register?code=sQrPIAw3">科学上网</a></li>
                <li><a href="http://find.nlc.cn/">法律搜索</a></li>
                <li><a href="https://weibo.zhaoyizhe.com/">历史热搜</a></li>
                <li><a href="https://www.economist.com/">经济学人</a></li>
                <li><a href="https://www.nytimes.com/">纽约时报</a></li>
                <li><a href="http://www.wyzxwk.com/">乌有之乡</a></li>
                <li><a href="https://foreignpolicy.com/">外交政策</a></li>
                <li><a href="https://www.scmp.com/" title="南华早报">南华早报</a></li>
                <li><a href="https://www.alibabanews.com/">阿里足跡</a></li>
                <li><a href="https://chinafactcheck.com/">新闻核查</a></li>
                <li><a href="https://www.theatlantic.com/">大西洋月刊</a></li>
                <li><a href="https://wheremylife.cn/">新闻订阅</a></li>
            </ul>