            <ul>
                <li><a href="https://www.newyorker.com/">纽约客</a></li>
                <li><a href="https://www.twitch.tv/">Twitch</a></li>
                <li><a href="https://theinitium.com/">端传媒</a></li>
                <li><a href="https://hotels.ctrip.com/?AllianceID=4090906&sid=32002090&ouid=kfptpcljzh">携程酒店</a></li>

                <li><a href="https://scholar.google.com/">谷歌学术</a></li>
                <li><a href="http://www.53bk.com/baokan/">全国报刊</a></li>
                
                <li><a href="http://find.nlc.cn/">法律搜索</a></li>
                <li><a href="https://weibo.zhaoyizhe.com/">历史热搜</a></li>
                <li><a href="https://www.economist.com/">经济学人</a></li>
                <li><a href="https://www.nytimes.com/">纽约时报</a></li>
                <li><a href="http://www.wyzxwk.com/">乌有之乡</a></li>
                <li><a href="https://foreignpolicy.com/">外交政策</a></li>
                <li><a href="https://www.scmp.com/" title="南华早报">南华早报</a></li>
                <li><a href="https://www.alibabanews.com/">阿里足跡</a></li>
                <li><a href="https://chinafactcheck.com/">新闻核查</a></li>
                <li><a href="https://www.theatlantic.com/">大西洋月刊</a></li>
                <li><a href="https://wheremylife.cn/">新闻订阅</a></li>
                <li><a href="https://alleyread.com/">Alleyread</a></li>
                <li><a href="https://streetartnews.net/">街头艺术</a></li>
                <li><a href="https://worth.com/">财富价值</a></li>
                <li><a href="https://www.life.com/">生活杂志</a></li>
                <li><a href="https://www.adforum.com/">广告创意</a></li>
                <li><a href="https://www.medscape.com/">医学前沿</a></li>
                <li><a href="https://www.hercampus.com/">她的校园</a></li>
                <li><a href="https://fivebooks.com/">书籍推荐</a></li>
            </ul>