            <ul>
                <li><a href="https://maimai.cn/">脉 脉</a></li>
                <li><a href="http://www.lagou.com">拉 勾</a></li>
                <li><a href="https://www.liepin.com/">猎 聘</a></li>
                <li><a href="http://www.zhipin.com/">直 聘</a></li>
                <li><a href="http://www.ganji.com/">赶 集</a></li>
                <li><a href="https://www.nowcoder.com/">牛 客</a></li>
                <li><a href="https://www.kanzhun.com/">看 准</a></li>
                
                <li><a href="http://www.yingjiesheng.com/">应 届 生</a></li>
                <li><a href="http://www.yjbys.com/">毕 业 生</a></li>
                <li><a href="http://qushixi.net/">趣 实 习</a></li>
                <li><a href="https://www.zhaopinhui.net/">招 聘 会</a></li>
                <li><a href="https://www.shixiseng.com/">实 习 僧</a></li>
                <li><a href="https://www.jobui.com/">职 友 集</a></li>
                <li><a href="http://www.doumi.com/">斗 米 网</a></li>
                <li><a href="https://www.jianli.com/">简 历 网</a></li>
                <li><a href="https://www.jianliben.com/">简 历 本</a></li>
                <li><a href="http://www.51job.com/">前程无忧</a></li>
                <li><a href="http://www.zhaopin.com/">智联招聘</a></li>
                <li><a href="http://www.chinahr.com/">中华英才</a></li>
                <li><a href="https://www.xinchou.com/">薪 酬 网</a></li>
                <li><a href="https://www.fbmms.cn/">方 便 面</a></li>
                
                <li><a href="http://job.dajie.com/">大街招聘</a></li>
                <li><a href="https://www.tianjihr.com/">天基人才</a></li>
                <li><a href="http://www.moore.ren/">摩尔精英</a></li>
                <li><a href="http://www.cjol.com/">人才热线</a></li>
                <li><a href="https://www.jrzp.com/">今日招聘</a></li>
                <li><a href="https://www.cfw.cn/">服装人才</a></li>
                <li><a href="https://dujiao.net/">独角招聘</a></li>
                
                <li><a href="http://www.fzzp.com">纺织招聘</a></li>
                <li><a href="http://www.veryeast.cn/">酒店人才</a></li>
                <li><a href="http://www.jiaoshi.com.cn/">教师人才</a></li>
                <li><a href="http://www.jobcn.com/">卓博人才</a></li>
                <li><a href="http://www.job5156.com/">智通人才</a></li>
                <li><a href="https://www.lbdj.com/">鲁班到家</a></li>
                <li><a href="https://www.ciweishixi.com">刺猬实习</a></li>
                
                <li><a href="https://nextresu.me/">问鸭简历</a></li>
                <li><a href="https://www.polebrief.com/">极简简历</a></li>
                <li><a href="https://futurecv.cn/">未来简历</a></li>
                <li><a href="https://cn.indeed.com/">Indeed</a></li>
                <li><a href="https://www.ncss.cn/">就业指导</a></li>
                <li><a href="https://zgsydw.com/">事业单位</a></li>
                <li><a href="https://jobincorner.com/">谁在招人</a></li>

                <li><a href="https://www.jiceng.org/">基层学习</a></li>
                <li><a href="https://monkeytype.com/">打字测试</a></li>
                <li><a href="http://www.hrvalue.com.cn/">HR价值网</a></li>
                <li><a href="https://www.linkedin.com/">领英服务</a></li>
                <li><a href="http://www.hrsee.com/">HR案例网</a></li>
                <li><a href="http://www.hrloo.com/">三茅人力</a></li>
                <li><a href="https://www.izxxz.com/">知行晓政</a></li>
                
                <li><a href="http://www.tophr.net/">第一资源</a></li>
                <li><a href="http://www.chinahrd.net/">人力开发</a></li>
                <li><a href="http://www.osta.org.cn/">人才评价</a></li>
                <li><a href="http://www.hroot.com/">HRoot</a></li>
                <li><a href="https://chinahrmo.com">人力资源</a></li>
                <li><a href="https://ruzhila.cn/">入职啦</a></li>
            </ul>