            <ul>
                <li><a href="https://www.duolingo.com/">多 邻 国</a></li>
                <li><a href="http://www.tingclass.net">听 力 课</a></li>
                <li><a href="https://paper.i21st.cn/">21 英 语</a></li>
                <li><a href="https://www.usespeak.com/tw">Speak</a></li>
                <li><a href="https://www.hitalk.ai/zh">HiTalk</a></li>
                <li><a href="https://www.italki.cn/zh-cn">爱 拓 奇</a></li>
                <li><a href="https://fayin.love/">爱 发 音</a></li>
                <li><a href="https://www.1speaking.com/">第一口语</a></li>
                <li><a href="https://wordforest.cn/">单词森林</a></li>
                <li><a href="https://www.babelabc.com/">巴别英语</a></li>
                <li><a href="http://www.kekenet.com">可可英语</a></li>
                <li><a href="https://word-wind.pages.dev/">单词之风</a></li>
                <li><a href="http://www.ew.com.cn/">英语周报</a></li>
                <li><a href="https://umoocs.unipus.cn/">高校外语</a></li>
                <li><a href="http://www.dedecn.com/">德语德国</a></li>
                <li><a href="http://www.godic.net/">德语助手</a></li>
                <li><a href="http://www.languageguide.org/cn/">外语指南</a></li>
                <li><a href="https://www.lingohut.com/zh">外语学习</a></li>
                <li><a href="https://www.xyybs.com/">学英语报</a></li>
                <li><a href="https://www.losethevery.com/">不说very</a></li>
                <li><a href="https://www.beiwaiclass.com/">北外网课</a></li>
                <li><a href="https://novel.tingroom.com/">英文小说</a></li>
                <li><a href="https://www.frdic.com/">法语助手</a></li>
                <li><a href="https://www.chineseconverter.com/zh-cn">学习中文</a></li>
                <li><a href="https://www.chinese-learning.cn/">中文学习</a></li>
                <li><a href="https://www.wordreference.com/enzh/">英汉词典</a></li>
                <li><a href="https://bon-french.com/">法语辅助</a></li>
                <li><a href="https://www.translate.com/">翻译平台</a></li>
                <li><a href="https://chatmiko.com/">Miko翻译</a></li>
                <li><a href="https://srttran.leavesc.com/">字幕翻译</a></li>
                <li><a href="https://enpuz.com/">语法分析</a></li>
                <li><a href="https://dict.eudic.net/">欧路词典</a></li>
                <li><a href="https://www.busuu.com/">博树外语</a></li>
                <li><a href="https://www.yasi.cn/">雅思无忧</a></li>
                <li><a href="https://zs.guijutech.com/learninglang">AI外语通</a></li>
                <li><a href="https://cn.denopark.com/">DenoPark</a></li>
                <li><a href="https://translate.limit.dev/">Limit-LAB</a></li>
                <li><a href="http://www.somdom.com/">声同小语种</a></li>
                <li><a href="https://fanyi.weixin.qq.com/pages/explore">微信翻译</a></li>
            </ul>