            <ul>
                <li><a href="https://news.ceic.ac.cn/">地 震 台</a></li>
                <li><a href="https://jiapu.library.sh.cn/">家 谱 网</a></li>
                <li><a href="https://www.drmed.cn/">医 博 士</a></li>
                <li><a href="https://tool.browser.qq.com/">帮 小 忙</a></li>
                <li><a href="https://www.msdmanuals.cn/">默 沙 东</a></li>
                <li><a href="https://www.sui.com/">随 手 记</a></li>
                <li><a href="https://www.12315.cn/">12315</a></li>

                <li><a href="https://bbs.51credit.com/">我 爱 卡</a></li>
                <li><a href="https://www.jungus.cn/zh-hans/">荣 格 斯</a></li>
                <li><a href="https://www.xinceyan.com/">测 试 网</a></li>
                <li><a href="http://www.ixinqing.com/">心 晴 网</a></li>
                <li><a href="https://www.naokr.com/">脑 壳 网</a></li>
                <li><a href="https://ask2end.com/">问 到 底</a></li>
                <li><a href="https://www.huangli.com/">老 黄 历</a></li>

                <li><a href="https://www.ventusky.com/">风雨气温</a></li>
                <li><a href="https://www.iqair.cn/cn/">空气质量</a></li>
                <li><a href="https://zoom.earth/">实时天气</a></li>
                <li><a href="https://www.timezones.digital/">时区转换</a></li>
                <li><a href="https://cook.aiurs.co/">做饭指南</a></li>
                <li><a href="https://cook.yunyoujun.cn/">食用手册</a></li>
                <li><a href="https://www.myfitnesspal.com/zh-CN">健康食谱</a></li>

                <li><a href="https://www.wannianli123.com/">今日黄历</a></li>
                <li><a href="https://www.xzw.com/fortune/">星座运势</a></li>
                <li><a href="https://humanbenchmark.com/">人类基准</a></li>
                <li><a href="https://songyon.github.io/8valuescn/">政治立场</a></li>
                <li><a href="https://www.xingmingzhijia.com/xingshi/">姓氏大全 </a></li>
                <li><a href="https://chinesefengshui.net/zh">中国风水</a></li>
                
                <li><a href="https://psycho-test.org/zh.html">免费测试</a></li>
                <li><a href="http://www.psy-test.net/">心灵探索</a></li>
                <li><a href="https://www.16personalities.com/ch">性格测试</a></li>
                <li><a href="https://e.chameiwang.com/">趣味测试</a></li>
                <li><a href="https://www.16type.com/">人格测试</a></li>
                <li><a href="https://www.arealme.com/">认识自己</a></li>
                <li><a href="https://www.yuzeli.com/">心理成长</a></li>

                <li><a href="https://www.shanghairanking.cn/">大学排名</a></li>
                <li><a href="https://lovelive.tools/">渣男话术</a></li>
                <li><a href="https://we.dog/">舔狗日记</a></li>
                <li><a href="https://www.wifimap.io/">WiFi地图</a></li>
                <li><a href="https://speedsums.com/">数学测试</a></li>
                <li><a href="https://gallerix.asia/">绘画</a><a href="https://artvee.com/">艺术</a></li>
                <li><a href="https://www.animatedknots.com/">绳子打结</a></li>
                
                <li><a href="https://www.geshui.com/">个税计算</a></li>
                <li><a href="https://www.haoma123.com/">电话号码</a></li>
                <li><a href="https://yiimii.com/">壁纸图片</a></li>
                <li><a href="https://heybeauty.ai/">虚拟换装</a></li>
                <li><a href="https://www.drlmeng.com/">多肉植物</a></li>
                <li><a href="https://meta.law/">类案搜索</a></li>
                <li><a href="https://goldprice.fun/">黄金价格</a></li>
                <li><a href="https://euenergy.live/">欧洲电价</a></li>
            </ul>