            <ul>
                <li><a href="https://jiapu.library.sh.cn/">家谱网</a></li>
                <li><a href="https://www.naokr.com/">脑壳网</a></li>
                <li><a href="https://ask2end.com/">问到底</a></li>
                <li><a href="https://www.shuxuele.com/">数学乐</a></li>
                <li><a href="https://www.msdmanuals.cn/">默沙东</a></li>
                <li><a href="https://www.memocard.net/">便签贴</a></li>
                <li><a href="https://www.sui.com/">随手记</a></li>

                <li><a href="https://tool.browser.qq.com/">帮小忙</a></li>
                <li><a href="https://www.jungus.cn/zh-hans/">荣格斯</a></li>
                <li><a href="https://www.xinceyan.com/">测试网</a></li>
                <li><a href="https://getsimnum.caict.ac.cn/">手机卡</a></li>
                <li><a href="https://www.drmed.cn/">医博士</a></li>
                <li><a href="https://bbs.51credit.com/">我爱卡</a></li>
                <li><a href="https://www.acfun.cn/">AcFun</a></li>

                <li><a href="https://art.icity.ly/">艺术展览</a></li>
                <li><a href="https://chinafactcheck.com/">新闻核查</a></li>
                <li><a href="https://www.wannianli123.com/">今日黄历</a></li>
                <li><a href="https://www.xzw.com/fortune/">星座运势</a></li>
                <li><a href="https://www.xingmingzhijia.com/xingshi/">姓氏大全 </a></li>
                <li><a href="https://www.ventusky.com/">风雨气温</a></li>
                <li><a href="http://hao.66360.cn/guangboticao.html">广播体操</a></li>

                <li><a href="https://psycho-test.org/zh.html">免费测试</a></li>
                <li><a href="http://www.psy-test.net/">心灵探索</a></li>
                <li><a href="https://www.16personalities.com/ch">性格测试</a></li>
                <li><a href="https://e.chameiwang.com/">趣味测试</a></li>
                <li><a href="https://qw.91maths.com/">趣味数学</a></li>
                <li><a href="https://www.16type.com/">人格测试</a></li>
                <li><a href="https://www.yuzeli.com/">心理成长</a></li>

                <li><a href="https://www.shanghairanking.cn/">大学排名</a></li>
                <li><a href="https://gallerix.asia/">绘画</a><a href="https://artvee.com/">艺术</a></li>
                <li><a href="https://lovelive.tools/">渣男话术</a></li>
                <li><a href="https://we.dog/">舔狗日记</a></li>
                
                <li><a href="https://inv-veri.chinatax.gov.cn/">发票查询</a></li>
                <li><a href="https://www.geshui.com/">个税计算</a></li>
                <li><a href="https://www.haoma123.com/">电话号码</a></li>
                <li><a href="https://yiimii.com/">壁纸图片</a></li>
                <li><a href="https://news.ceic.ac.cn/">中国地震台</a></li>
                <li><a href="https://www.zymk.cn/">知音漫客</a></li>
                <li><a href="https://www.kuaikanmanhua.com/">快看漫画</a></li>
                <li><a href="https://www.missevan.com/">猫耳动漫</a></li>
                <li><a href="https://ts.isc.org.cn/">信服业投诉</a></li>
            </ul>