<ul>
    <li><a onclick="loadFragment('read',true,'文化博览')" href="javascript:;" target="_self">文化博览</a></li>
    <li><a onclick="loadFragment('film',true,'电影娱乐')" href="javascript:;" target="_self">电影娱乐</a></li>
    <li><a onclick="loadFragment('tv',true,'广播电视')" href="javascript:;" target="_self">广播电视</a></li>
    <li><a onclick="loadFragment('music',true,'流行音乐')" href="javascript:;" target="_self">流行音乐</a></li>
    <li><a onclick="loadFragment('podcast',true,'播客电台')" href="javascript:;" target="_self">播客电台</a></li>
    <li><a onclick="loadFragment('hot',true,'热门网站')" href="javascript:;" target="_self">热门网站</a></li>
    <li><a onclick="loadFragment('email',true,'邮箱登录')" href="javascript:;" target="_self">邮箱登录</a></li>

    <li><a onclick="loadFragment('document',true,'文档办公')" href="javascript:;" target="_self">文档办公</a></li>
    <li><a onclick="loadFragment('assistant',true,'办公助手')" href="javascript:;" target="_self">办公助手</a></li>
    <li><a onclick="loadFragment('write',true,'文案写作')" href="javascript:;" target="_self">文案写作</a></li>
    <li><a onclick="loadFragment('design',true,'设计绘画')" href="javascript:;" target="_self">设计绘画</a></li>
    <li><a onclick="loadFragment('creative',true,'影音创作')" href="javascript:;" target="_self">影音创作</a></li>
    <li><a onclick="loadFragment('file',true,'文件处理')" href="javascript:;" target="_self">文件处理</a></li>
    <li><a onclick="loadFragment('ps',true,'图像处理')" href="javascript:;" target="_self">图像处理</a></li>

    <li><a onclick="loadFragment('chinese',true,'中国文化')" href="javascript:;" target="_self">中国文化</a></li>
    <li><a onclick="loadFragment('education',true,'教育考试')" href="javascript:;" target="_self">教育考试</a></li>
    <li><a onclick="loadFragment('study',true,'我爱学习')" href="javascript:;" target="_self">我爱学习</a></li>
    <li><a onclick="loadFragment('ai',true,'人工智能')" href="javascript:;" target="_self">人工智能</a></li>
    <li><a onclick="loadFragment('noise',true,'背景噪音')" href="javascript:;" target="_self">背景噪音</a></li>
    <li><a onclick="loadFragment('job',true,'求职招聘')" href="javascript:;" target="_self">求职招聘</a></li>
    <li><a onclick="loadFragment('wiki',true,'知识百科')" href="javascript:;" target="_self">知识百科</a></li>

    <li><a onclick="loadFragment('live',true,'趣味生活')" href="javascript:;" target="_self">趣味生活</a></li>
    <li><a onclick="loadFragment('sports',true,'体育健身')" href="javascript:;" target="_self">体育健身</a></li>
    <li><a onclick="loadFragment('tool',true,'实用工具')" href="javascript:;" target="_self">实用工具</a></li>
    <li><a onclick="loadFragment('freelance',true,'自由职业')" href="javascript:;" target="_self">自由职业</a></li>
    <li><a onclick="loadFragment('bbs',true,'地方论坛')" href="javascript:;" target="_self">···</a></li>
    <li>···</li>
    <li>···</li>
    <li><a onclick="loadFragment('blog',true,'博客日志')" href="javascript:;" target="_self">博客日志</a></li>
    <li><a onclick="loadFragment('foreign',true,'国外名站')" href="javascript:;" target="_self">国外名站</a></li>
    <li><a onclick="loadFragment('tour',true,'旅游世界')" href="javascript:;" target="_self">旅游世界</a></li>
    <li><a onclick="loadFragment('photo',true,'摄影天地')" href="javascript:;" target="_self">摄影天地</a></li>
    <li><a onclick="loadFragment('shop',true,'购物消费')" href="javascript:;" target="_self">购物消费</a></li>
    <li><a onclick="loadFragment('computer',true,'科技数码')" href="javascript:;" target="_self">科技数码</a></li>
    <li><a onclick="loadFragment('game',true,'游戏娱乐')" href="javascript:;" target="_self">游戏娱乐</a></li>

    <li><a onclick="loadFragment('gov',true,'政务机构')" href="javascript:;" target="_self">政务机构</a></li>
    <li><a onclick="loadFragment('economic',true,'宏观经济')" href="javascript:;" target="_self">宏观经济</a></li>
    <li><a onclick="loadFragment('data',true,'数据报告')" href="javascript:;" target="_self">数据报告</a></li>
    <li><a onclick="loadFragment('consult',true,'咨询顾问')" href="javascript:;" target="_self">咨询顾问</a></li>
    <li><a onclick="loadFragment('industry',true,'行业电商')" href="javascript:;" target="_self">行业电商</a></li>
    <li><a onclick="loadFragment('business',true,'商业服务')" href="javascript:;" target="_self">商业服务</a></li>
    <li><a onclick="loadFragment('scholar',true,'学术科研')" href="javascript:;" target="_self">学术科研</a></li>

    <li><a onclick="loadFragment('develop',true,'软件开发')" href="javascript:;" target="_self">软件开发</a></li>
    <li><a onclick="loadFragment('web',true,'网页开发')" href="javascript:;" target="_self">网页开发</a></li>
    <li><a onclick="loadFragment('fonts',true,'字体大全')" href="javascript:;" target="_self">字体大全</a></li>
    <li><a onclick="loadFragment('image',true,'图片素材')" href="javascript:;" target="_self">图片素材</a></li>
    <li><a onclick="loadFragment('resource',true,'文档资源')" href="javascript:;" target="_self">文档资源</a></li>
    <li><a onclick="loadFragment('video',true,'影音素材')" href="javascript:;" target="_self">影音素材</a></li>
    <li><a onclick="loadFragment('soft',true,'软件下载')" href="javascript:;" target="_self">软件下载</a></li>
    <li><a href="https://mp.weixin.qq.com">公众平台</a></li>

</ul>
    