            <ul>
                <li><a href="https://open.spotify.com/playlist/37i9dQZF1DX4PP3DA4J0N8">Spotify</a></li>
                <li><a href="https://freemind.fit/">FreeMind</a></li>
                <li><a href="https://www.tree.fm/">tree.fm</a></li>
                <li><a href="https://www.soundvery.com/">声 谷</a></li>
                <li><a href="https://tide.fm/zh_CN/">潮 汐</a></li>
                <li><a href="https://asmrion.com/">Asmr</a></li>
                <li><a href="https://pluvior.com/">Pluvior</a></li>
                <li><a href="https://www.moodil.com/">Moodil</a></li>
                <li><a href="https://defonic.com/">Defonic</a></li>
                <li><a href="https://www.noisli.com/">Noisli</a></li>
                <li><a href="https://app.lofi.co/">Lofi.co</a></li>
                <li><a href="https://mynoise.net/">MyNoise</a></li>
                <li><a href="https://horrorli.fps.hu/">horrorli</a></li>
                <li><a href="https://earth.fm/">Earth.fm</a></li>
                <li><a href="https://www.ppbzy.com/">泡泡白噪音</a></li>
                <li><a href="https://www.soundscape.org.tw/">台湾声景</a></li>
                <li><a href="https://www.rainymood.com/">Rainy Mood</a></li>
                <li><a href="https://rainyscope.com/">Rainyscope</a></li>
                <li><a href="https://www.calmsound.com/">Calmsound</a></li>
                <li><a href="https://www.bettersleep.com/">BetterSleep</a></li>
                <li><a href="https://www.relaxingwhitenoise.com/">Relaxing</a></li>
                <li><a href="https://imisstheoffice.eu/">in the office</a></li>
                <li><a href="http://snowyescape.com/">Snowy Escape</a></li>
                <li><a href="https://virtocean.com/">Virtual Ocean</a></li>
                <li><a href="http://imissmybar.com/">I Miss My Bar</a></li>
                <li><a href="https://www.soundsofearth.eco/">Sounds of Earth</a></li>
                <li><a href="https://musicofnature.com/">Music of Nature</a></li>
                <li><a href="https://soundcloud.com/nature-sounds">SoundCloud</a></li>
                <li><a href="https://hipstersound.com/">Hipstersound</a></li>
                <li><a href="https://asoftmurmur.com/">A Soft Murmur</a></li>
                <li><a href="https://ambientnoise.online/">Ambient Noise</a></li>
                <li><a href="https://white-noise-sound.com/">white noise sound</a></li>
                <li><a href="https://noises.online/">Noises Online</a></li>
                <li><a href="https://sleepsounds.fm/">Sleep Sounds</a></li>
                <li><a href="https://simplynoise.com/">SimplyNoise</a></li>
                <li><a href="https://thewhitenoiseplaylist.com/">Astral Harmony</a></li>
                <li><a href="https://whitenoisemarket.com/">Noise Market</a></li>
                <li><a href="https://relaxnoise.io/">Relaxing Music</a></li>
            </ul>
                