            <ul>
                <li><a href="https://www.hasselblad.com/zh-cn/">哈 苏</a></li>
                <li><a href="https://leica-camera.com/">徕 卡</a></li>
                <li><a href="http://www.fengniao.com/">蜂 鸟</a></li>
                <li><a href="http://www.heiguang.com/">黑 光</a></li>
                <li><a href="https://www.mepai.me">米 拍</a></li>
                <li><a href="https://www.birdnet.cn/">鸟 网</a></li>
                <li><a href="https://www.weishoot.com/">微 摄</a></li>
                
                <li><a href="http://www.youxiake.net/">游 侠 客</a></li>
                <li><a href="http://www.chinaphoto.net.cn/">摄 影 家</a></li>
                <li><a href="http://www.pop-photo.com.cn/">大众摄影</a></li>
                <li><a href="http://www.xitek.com/">色影无忌</a></li>
                <li><a href="http://www.rxsy.net/">人像摄影</a></li>
                <li><a href="http://www.cppfoto.com/">诠 摄 汇</a></li>
                <li><a href="https://www.numero.com.cn/">大 都 市</a></li>
                
                <li><a href="http://www.photoworld.com.cn/">摄影世界</a></li>
                <li><a href="http://www.peoplephoto.com/">人民摄影</a></li>
                <li><a href="http://www.cphoto.com.cn">中国摄影</a></li>
                <li><a href="http://www.cpanet.cn/">影像中国</a></li>
                <li><a href="http://www.xiangshu.com/">橡树摄影</a></li>
                <li><a href="http://www.dpnet.com.cn/">迪派影像</a></li>
                <li><a href="http://www.photofans.cn/">佳友在线</a></li>
                
                <li><a href="http://www.unpcn.com/">国家摄影</a></li>
                <li><a href="https://fotomen.cn/">摄影之友</a></li>
                <li><a href="http://www.cphoto.net/">中摄在线</a></li>
                <li><a href="http://www.long-photo.com/">龙摄天下</a></li>
                <li><a href="https://www.xpsy.net/">霞浦摄影</a></li>
                <li><a href="http://www.cnu.cc/">视觉联盟</a></li>
                <li><a href="http://www.aitp.com.cn/">生态摄影</a></li>
                
                <li><a href="http://www.cnpressphoto.com/">新闻摄影</a></li>
                <li><a href="https://www.hirokazutakei.com/">日系摄影</a></li>
                <li><a href="http://www.icfpa.cn/">民俗摄影</a></li>
                <li><a href="https://www.fotobeginner.com/">摄影入门</a></li>
                <li><a href="https://www.worldphoto.org/zh">世界摄影</a></li>
                <li><a href="http://www.yannarthusbertrand2.org/">扬恩·亚瑟</a></li>
                <li><a href="https://photographylife.com/">摄影生活</a></li>
                
                <li><a href="https://www.magnumphotos.com/">Magnum</a></li>
                <li><a href="https://sinar.swiss/">Sinar</a></li>
                <li><a href="https://500px.com/">500px</a></li>
                <li><a href="https://www.behance.net/">behance</a></li>
                <li><a href="https://1x.com/">1X.com</a></li>
                <li><a href="https://fstoppers.com/">Fstoppers</a></li>
                <li><a href="https://www.photo.net/">PhotoNet</a></li>
                <li><a href="https://lt2.fr/">Agence LT2</a></li>
                <li><a href="https://pmagazine.co/">P Magazine</a></li>
                <li><a href="https://hdrcreme.com/">HDRcreme</a></li>
                <li><a href="https://www.annegeddes.com/">Anne Geddes</a></li>
                <li><a href="http://s-magazine.photography/">S-magazine</a></li>
                <li><a href="https://www.vivianmaier.com/">Vivian Maier</a></li>
                <li><a href="https://lfi-online.de/">LFI-online</a></li>

                <li><a href="https://www.michaelkenna.com/">Michael Kenna</a></li>
                <li><a href="http://www.edouard-boubat.fr/">Edouard Boubat</a></li>
                <li><a href="https://www.fotocommunity.com/">Fotocommunity</a></li>
                <li><a href="https://www.thephotoargus.com/">The Photo Argus</a></li>
                <li><a href="https://www.worldpressphoto.org/">WorldPressPhoto</a></li>
                <li><a href="https://www.reeditionmagazine.com/">RE-EDITION</a></li>
                <li><a href="https://karsh.org/">Yousuf Karsh</a></li>
                <li><a href="https://www.portfoliobox.net/cn/">线上作品集</a></li>
            </ul>