            <ul>
                <li><a href="https://www.ixueshu.com/">爱 学 术</a></li>
                <li><a href="https://www.linkresearcher.com/">领 研 网</a></li>
                <li><a href="http://www.scholat.com/">学 者 网</a></li>
                <li><a href="http://muchong.com/">小 木 虫</a></li>
                <li><a href="https://www.ouryao.com/">蒲 公 英</a></li>
                <li><a href="http://www.biofeng.com/">生 物 风</a></li>
                <li><a href="https://www.ablesci.com/">科 研 通</a></li>
                <li><a href="http://www.uua.cn/">化 石 网</a></li>
                <li><a href="http://www.bioon.com/">生 物 谷</a></li>
                <li><a href="https://www.braindatacenter.cn/">脑 科 学</a></li>
                <li><a href="https://www.ligongku.com/">理 工 酷</a></li>
                <li><a href="https://www.mymmc.cn/">茅 茅 虫</a></li>
                <li><a href="https://readpaper.com/">读 论 文</a></li>
                <li><a href="https://www.ailunwenjun.com/">论 文 君</a></li>
                
                <li><a href="https://scholar.google.com/">谷歌学术</a></li>
                <li><a href="https://xueshu.baidu.com/">百度学术</a></li>
                <li><a href="https://www.aminer.cn/">学术搜索</a></li>
                <li><a href="https://pubscholar.cn/">公益学术</a></li>
                <li><a href="https://www.nature.com/">自然杂志</a></li>
                <li><a href="https://www.cell.com/">细胞杂志</a></li>
                <li><a href="https://www.sciencemag.org/">科学杂志</a></li>

                <li><a href="http://amap.zju.edu.cn/">学术地图</a></li>
                <li><a href="https://wordcounter.net/">论文统计</a></li>
                <li><a href="https://www.xiegelunwen.com/">写个论文</a></li>
                <li><a href="https://lunwenweishi.com/">论文卫士</a></li>
                <li><a href="https://www.papercrazy.cn/">疯狂论文</a></li>
                <li><a href="https://write.bigan.net/">笔杆论文</a></li>
                <li><a href="https://www.editage.cn/paperpal">Paperpal</a></li>
                
                <li><a href="https://www.monstercheck.cn/">怪兽查重</a></li>
                <li><a href="https://www.huanqiukexue.com/">环球科学</a></li>
                <li><a href="http://www.zhishifenzi.com/">知识分子</a></li>
                <li><a href="http://www.expaper.cn/">科研速递</a></li>
                <li><a href="http://www.exuezhe.com">学者在线</a></li>
                <li><a href="https://www.ais.cn/">艾思科蓝</a></li>
                <li><a href="https://scichat.ai/">学术助手</a></li>
                <li><a href="https://www.biodiscover.com/">生物探索</a></li>
                <li><a href="http://www.global-sci.org/mc/">数学文化</a></li>
                <li><a href="http://www.math.org.cn/">博士数学</a></li>
                <li><a href="http://www.bio-review.com/">生物评论</a></li>
                <li><a href="http://www.optzmx.com/">光学社区</a></li>
                <li><a href="http://www.southacademic.com/">学术研究</a></li>
                <li><a href="https://academic.oup.com/nsr">国家科评</a></li>
                <li><a href="http://www.damor.cn/">答魔科研</a></li>
                <li><a href="https://www.aipaperpass.com/">写作指导</a></li>
                <li><a href="http://www.cell-research.com/">细胞研究</a></li>
                <li><a href="https://www.kedoupaper.com/">蝌蚪查重</a></li>
                <li><a href="https://www.escience.org.cn/">科技资源共享</a></li>
                <li><a href="https://www.cnki.net/">中国知网</a></li>
                <li><a href="https://academictree.org/">学术家谱</a></li>
                <li><a href="https://www.nobelprize.org/">诺贝尔奖</a></li>
                <li><a href="https://tool.yovisun.com/scihub/">SCI-Hub</a></li>
                <li><a href="http://csp.escience.cn/">中科院会议服务</a></li>
                <li><a href="https://www.daqeesoft.com/">达奇论文</a></li>
                <li><a href="https://www.nobelists.org/zh/all/">诺贝尔奖</a></li>
            </ul>
                