            <ul>
                <li><a href="https://www.amazon.cn/">亚 马 逊</a></li>
                <li><a href="http://www.kongfz.com/">孔 夫 子</a></li>
                <li><a href="http://www.uniqlo.cn/">优 衣 库</a></li>
                <li><a href="https://tb.j5k6.com/adG8m">唯 品 会</a></li>
                <li><a href="https://www.pinduoduo.com/">拼 多 多</a></li>
                <li><a href="https://www.watsons.com.hk/">屈 臣 氏</a></li>
                <li><a href="https://www.duozhuayu.com/">多 抓 鱼</a></li>
                <li><a href="http://www.taobao.com/">淘宝</a><a href="http://www.tmall.com/">天猫</a></li>
                <li><a href="https://tb.j5k6.com/a6vjy">网易严选</a></li>
                <li><a href="https://tb.j5k6.com/a6w5m">考拉海购</a></li>
                <li><a href="https://tb.j5k6.com/a7Kbn">京东商城</a></li>
                <li><a href="https://tb.j5k6.com/a6v42">当当商城</a></li>
                <li><a href="https://tb.j5k6.com/a0MGY">华为商城</a></li>
                <li><a href="https://tb.j5k6.com/a0MRR">三星商城</a></li>
                <li><a href="https://tb.j5k6.com/a7KRq">平价精选</a></li>
                <li><a href="https://tb.j5k6.com/a6v1w">小米有品</a></li>
                <li><a href="https://p.yiqifa.org/5X3nY1">苏宁易购</a></li>
                <li><a href="https://tb.jiuxinban.com/6zGKRX">微软商城</a></li>
                <li><a href="https://tb.jiuxinban.com/6rIvjz">联想商城</a></li>
                <li><a href="https://tb.jiuxinban.com/7GsrQB">荣耀商城</a></li>
                <li><a href="https://cn.ebay.com/">易贝中国</a></li>
                <li><a href="https://union-click.jd.com/jdc?e=618%7Cpc%7C&p=JF8BAKgJK1olXDYDZBoCUBVIMzZNXhpXVhgcBgcNVxRDXnBTTkRHA1ocDQABXFRORjNVK0FxGl9SDxdDaDFPAwdwaQxlKnAAND5RBHsTC2oJGFgXVQEyVF9cCUsXC2sJE2slXQcyHzBcOEkXAm4BH1oWVAcyVFhcDU4XC2gJE10cWjYFVFdtWB5VAWgJK2slXjYFVFdJDjlWUXsOaWslXDYBZG5fCUoTCl84K2s">京东杂货</a></li>
                <li><a href="https://union-click.jd.com/jdc?e=618%7Cpc%7C&p=JF8BAJ4JK1olXDYDZBoCUBVIMzZNXhpXVhgcDQoNVQ5OHDRdBAlLARgyNyokYSJeehdtZilTIXBBVxkUUBhNY2MEK18dWAcBV1xVD3sXAm4JG1sdWQcKZG5dCXtcbW44GVsUXA8CVFhcCnsXBW4JHVkWVQ4LU1lYOEwXCl9YThkXWgcyZG5eOEwXCnsOaRpHSQBwZG5cOEsnM20JGl8cbTYyZA">医药健康</a></li>
                <li><a href="https://union-click.jd.com/jdc?e=618%7Cpc%7C&p=JF8BAJ0JK1olXDYDZBoCUBVIMzZNXhpXVhgcAx0JShIIWDoXSQVJQzZ-MyUbCh1RWAxOHFkcLnwGDT5VSxlBD2M4H1MQXAUBVlZaOEsWAm4IG1MRXA4yZF5cOAB5Al8KG1oUVAYCUl9YOEsRAm4OGVkVWwEAVF9tD0seMz9dWVkSXDYyZF1tD0seF2l6WgkBW3QyZF9tCHsnAW4JH1IlbTYy">水果生鲜</a></li>
                <li><a href="https://union-click.jd.com/jdc?e=618%7Cpc%7C&p=JF8BAKEJK1olXDYDZBoCUBVIMzZNXhpXVhgcBgcNVglOW3BTTkRHA1ocZC4KVjdgaA18fh9RWlFDJBpcXBZUQCkEF2sRVQMDV11fAEwnA24JGlsVVQIDXG5tCEonSAEJK1kUXAMKVFtZCE8nA2gMHFwSWwMLUVtaAHsQA2Y4Sw5XXwEDZG5tC3sQA2YcHSlUDxIEJm5tCXsXMzBMRgYlXwcDUFdtOA">京东超市</a></li>
                <li><a href="https://union-click.jd.com/jdc?e=618%7Cpc%7C&p=JF8BAJwJK1olXDYDZBoCUBVIMzZNXhpXVhgcBwADUlRMVnBaRQcLbX59VSQFVlEJYQ4PZh13H2dXPT0rfx0bD18ME14UXgUAXFltCEoWAm8IE18UVTYyVF9tQyUWM20IGlocXQYEVFxtCE0WAmkKGVISXQILUG5aCEInUzpKGVwUbTYyV25aCEIDBR1JSU8TLzYyVW5dOHsVAm4MEmslbTY">图书大全</a></li>
                <li><a href="https://union-click.jd.com/jdc?e=618%7Cpc%7C&p=JF8BAKEJK1olXDYDZBoCUBVIMzZNXhpXVhgcDwYNXRNHXHBTTkRHA1ocZB9aSxBtfzRIeRlvPmFSL1xYUT5wBQ8EF2sRVQMDV11fAEwnA24JGlsVVQIDXG5tCEonSAEJK1kUXAMKVVpZC00nA2gMHF0VWAEDVVtaC3sQA2Y4Sw5XXwEDZG5tC3sQA2YcHSlUDxIEJm5tCXsXMzBMRgYlXwcDUFdtOA">京东家电</a></li>
                <li><a href="https://union-click.jd.com/jdc?e=618%7Cpc%7C&p=JF8BAKcJK1olXDYDZBoCUBVIMzZNXhpXVhgcBgcNVxRDXnBTTkRHA1ocFQoYFxJSXzI4ASNGVW8KVyA9WBsQCywNfRpgBn1nElJROE8fBm4LGFkdWjYCVV9cCEsfB24AK2sVXDZJOl9tCksWAmYIG10WWjYCUl9cDkkSBWcNElMRbQECXW4NXQkVBG44K2sWbQECXUpbegpFF2l6K2sUbQYyZFxcCU8eM184Kw">宠物生活</a></li>
                <li><a href="http://www.muji.com.cn/">无印良品</a></li>
                <li><a href="https://www.ai-code.online/">该怎么买</a></li>
            </ul>
                