            <ul>
                <li><a href="https://www.amazon.cn/">亚 马 逊</a></li>
                <li><a href="http://www.kongfz.com/">孔 夫 子</a></li>
                <li><a href="http://www.uniqlo.cn/">优 衣 库</a></li>
                <li><a href="https://tb.j5k6.com/adG8m">唯 品 会</a></li>
                <li><a href="https://www.pinduoduo.com/">拼 多 多</a></li>
                <li><a href="https://www.watsons.com.hk/">屈 臣 氏</a></li>
                <li><a href="https://www.duozhuayu.com/">多 抓 鱼</a></li>
                <li><a href="http://www.taobao.com/">淘宝</a><a href="http://www.tmall.com/">天猫</a></li>
                <li><a href="https://tb.j5k6.com/a6vjy">网易严选</a></li>
                <li><a href="https://tb.j5k6.com/a6w5m">考拉海购</a></li>
                <li><a href="https://tb.j5k6.com/a7Kbn">京东商城</a></li>
                <li><a href="https://tb.j5k6.com/a6v42">当当商城</a></li>
                <li><a href="https://tb.j5k6.com/a0MGY">华为商城</a></li>
                <li><a href="https://tb.j5k6.com/a0MRR">三星商城</a></li>
                <li><a href="https://tb.j5k6.com/a7KRq">平价精选</a></li>
                <li><a href="https://tb.j5k6.com/a6v1w">小米有品</a></li>
                <li><a href="https://p.yiqifa.org/5X3nY1">苏宁易购</a></li>
                <li><a href="https://tb.jiuxinban.com/6zGKRX">微软商城</a></li>
                <li><a href="https://tb.jiuxinban.com/6rIvjz">联想商城</a></li>
                <li><a href="https://tb.jiuxinban.com/7GsrQB">荣耀商城</a></li>
                <li><a href="https://cn.ebay.com/">易贝中国</a></li>
                <li><a href="https://tb.j5k6.com/a8w8t">红豆速干T桖</a></li>
                <li><a href="https://tb.j5k6.com/a8vuY">男女Polo衫</a></li>
                <li><a href="http://www.muji.com.cn/">无印良品</a></li>
                <li><a href="https://union-click.jd.com/jdc?e=618%7Cpc%7C&p=JF8BAKgJK1olXDYDZBoCUBVIMzZNXhpXVhgcBgcNVxRDXnBTTkRHA1ocDQABXFRORjNVK0FxGl9SDxdDaDFPAwdwaQxlKnAAND5RBHsTC2oJGFgXVQEyVF9cCUsXC2sJE2slXQcyHzBcOEkXAm4BH1oWVAcyVFhcDU4XC2gJE10cWjYFVFdtWB5VAWgJK2slXjYFVFdJDjlWUXsOaWslXDYBZG5fCUoTCl84K2s">京东杂货</a></li>
                <li><a href="https://union-click.jd.com/jdc?e=618%7Cpc%7C&p=JF8BAKEJK1olXDYDZBoCUBVIMzZNXhpXVhgcBgcNVglOW3BTTkRHA1ocZC4KVjdgaA18fh9RWlFDJBpcXBZUQCkEF2sRVQMDV11fAEwnA24JGlsVVQIDXG5tCEonSAEJK1kUXAMKVFtZCE8nA2gMHFwSWwMLUVtaAHsQA2Y4Sw5XXwEDZG5tC3sQA2YcHSlUDxIEJm5tCXsXMzBMRgYlXwcDUFdtOA">京东超市</a></li>
            </ul>
                