            <ul>
                <li><a href="https://www.ruancang.net/">软 仓</a></li>
                <li><a href="https://www.gimp.org/" title="GIMP">GIMP</a></li>
                <li><a href="https://git-scm.com/">G i t</a></li>
                <li><a href="https://www.7-zip.org/">7-Zip</a></li>
                <li><a href="https://www.sumatrapdfreader.org/" title="SumatraPDF">P D F</a></li>
                <li><a href="https://www.neatdownloadmanager.com/">NDM</a></li>
                <li><a href="https://www.toprender.com/">顶 渲</a></li>
                <li><a href="https://google.cn/intl/zh-CN/chrome/" title="Chrome">Chrome</a></li>
                <li><a href="https://ffmpeg.org/" title="FFmpeg">FFmpeg</a></li>
                <li><a href="https://www.trisunsoft.com/sc/" title="WinExt">WinExt</a></li>
                <li><a href="https://getsharex.com/" title="ShareX">ShareX</a></li>
                <li><a href="https://www.aimp.ru/">AIMP</a></li>
                <li><a href="https://potplayer.tv/?lang=zh_CN" title="Potplayer">Potplayer</a></li>
                <li><a href="https://zh.snipaste.com/" title="Snipaste">Snipaste</a></li>
                
                <li><a href="https://www.huorong.cn/">火绒安全</a></li>
                <li><a href="https://geekuninstaller.com/">极客卸载</a></li>
                <li><a href="https://www.umetrip.com/">航旅纵横</a></li>
                <li><a href="https://zh-cn.libreoffice.org/" title="LibreOffice">开源办公</a></li>
                <li><a href="https://www.deepin.org/">深度系统</a></li>
                <li><a href="http://www.yozosoft.com">永中软件</a></li>
                <li><a href="https://www.bitcomet.com/cn">比特彗星</a></li>

                <li><a href="https://osdmp.com/">开源集市</a></li>
                <li><a href="https://www.ghxi.com/">果核剥壳</a></li>
                <li><a href="https://www.macbl.com/">马可菠萝</a></li>
                <li><a href="https://gofans.cn/">正版限免</a></li>
                <li><a href="https://getitfree.cn/">正版中国</a></li>
                <li><a href="https://www.softsoft.pro/">软软科技</a></li>
                <li><a href="https://apsgo.com/?id=100891">软购商城</a></li>

                <li><a href="https://mirrors.163.com/">网易镜像</a></li>
                <li><a href="https://developer.aliyun.com/mirror/">阿里镜像</a></li>
                <li><a href="https://mirrors.cloud.tencent.com/">腾讯镜像</a></li>
                <li><a href="https://mirrors.huaweicloud.com/">华为镜像</a></li>
                <li><a href="https://mirrors.tuna.tsinghua.edu.cn/">清华镜像</a></li>
                <li><a href="https://mirrors.ustc.edu.cn/">中科镜像</a></li>
                <li><a href="https://mirrors.zju.edu.cn/">浙大镜像</a></li>
                <li><a href="https://mirror.lzu.edu.cn/">兰大镜像</a></li>
                <li><a href="https://mirrors.sjtug.sjtu.edu.cn/">上海交大</a></li>
                <li><a href="https://mirrors.cqu.edu.cn/">重庆大学</a></li>
                <li><a href="https://mirrors.sdu.edu.cn/">山东大学</a></li>
                <li><a href="https://software.nuaa.edu.cn/">南航软件</a></li>
                <li><a href="https://itsc.nju.edu.cn/zbrj/list.htm">南大软件</a></li>
                <li><a href="https://mirrors.bfsu.edu.cn/">北外镜像</a></li>

                <li><a href="https://sourceforge.net/">开源软件</a></li>
                <li><a href="https://pc.qq.com/">腾讯软件</a></li>
                <li><a href="https://lestore.lenovo.com/">联想软件</a></li>
                <li><a href="https://msdn.itellyou.cn/">微软系统</a></li>
                <li><a href="https://www.wenjian.net/">文件百科</a></li>
                <li><a href="https://www.zhaodll.com/">系统文件</a></li>
                <li><a href="https://drivers.mydrivers.com/">驱动之家</a></li>
                
                <li><a href="https://www.freedownloadmanager.org/zh/">下载管理</a></li>
                <li><a href="https://www.eyeloveucare.com/cn/">护眼精灵</a></li>
                <li><a href="https://www.lizhi.io/">数码荔枝</a></li>
                <li><a href="https://hibitsoft.ir/" title="HibitSoft">HibitSoft</a></li>
                <li><a href="https://www.diskanalyzer.com/">硬盘分析</a></li>
                <li><a href="https://www.irfanview.com/">图片查看</a></li>
                <li><a href="https://tool.hgs.cn/">录屏大师</a></li>
                <li><a href="https://cn.uptodown.com/">Uptodown</a></li>
                <li><a href="https://www.voidtools.com/zh-cn/" title="Everything">Everything</a></li>
                <li><a href="https://getquicker.net/">Quicker</a></li>
            </ul>