            <ul>
                <li><a href="https://google.cn/intl/zh-CN/chrome/" title="Chrome">Chrome</a></li>
                <li><a href="https://www.ruancang.net/">软仓</a></li>
                <li><a href="https://www.gimp.org/" title="GIMP">GIMP</a></li>
                <li><a href="https://www.huorong.cn/">火绒</a></li>
                <li><a href="https://msdn.itellyou.cn/">I Tell You</a></li>
                <li><a href="https://www.neatdownloadmanager.com/">NDM</a></li>
                <li><a href="https://www.trisunsoft.com/sc/" title="WinExt">WinExt</a></li>
                <li><a href="https://potplayer.tv/?lang=zh_CN" title="Potplayer">Potplayer</a></li>
                <li><a href="https://motrix.app/zh-CN/" title="Motrix">Motrix</a></li>
                <li><a href="https://getsharex.com/" title="ShareX">ShareX</a></li>
                <li><a href="https://www.aimp.ru/">AIMP</a></li>
                <li><a href="https://getquicker.net/">Quicker</a></li>
                <li><a href="https://ffmpeg.org/" title="FFmpeg">FFmpeg</a></li>
                <li><a href="https://zh.snipaste.com/" title="Snipaste">Snipaste</a></li>
                <li><a href="https://www.umetrip.com/">航旅纵横</a></li>
                <li><a href="https://mirrors.tuna.tsinghua.edu.cn/">清华镜像</a></li>
                <li><a href="http://www.yozosoft.com">永中软件</a></li>
                <li><a href="https://getitfree.cn/">正版中国</a></li>
                <li><a href="https://www.loadbt.com/zh">离线BT</a></li>
                <li><a href="https://www.ghxi.com/">果核剥壳</a></li>
                <li><a href="https://apsgo.com/?id=100891">正版软件</a></li>
                <li><a href="https://www.redsex.cc/">红杏破解</a></li>
                <li><a href="https://www.deepin.org/">深度系统</a></li>
                <li><a href="https://wanghongxiu.com/">网红秀</a></li>
                <li><a href="https://www.wenjian.net/">文件百科</a></li>
                <li><a href="https://www.rjctx.com/">考拉分享</a></li>
                <li><a href="https://filehelper.weixin.qq.com/">微信助手</a></li>
                <li><a href="https://www.toprender.com/">顶渲网</a></li>
                <li><a href="https://osdmp.com/">开源集市</a></li>
                <li><a href="https://geekuninstaller.com/">极客卸载</a></li>
                <li><a href="https://mdnice.com/">墨滴社区</a></li>
                <li><a href="https://www.7-zip.org/" title="7-Zip">极简压缩</a></li>
                
                <li><a href="https://www.jingxuanxing.com/">鲸选型</a></li>
                <li><a href="https://software.nuaa.edu.cn/">南航软件</a></li>
                <li><a href="https://www.freedownloadmanager.org/zh/">下载管理</a></li>
                <li><a href="https://hibitsoft.ir/" title="HibitSoft">卸载器</a></li>
                <li><a href="https://www.diskanalyzer.com/">硬盘分析</a></li>
                <li><a href="https://www.irfanview.com/">图片查看</a></li>
                <li><a href="https://www.zhaodll.com/">系统文件</a></li>
                <li><a href="https://tool.hgs.cn/">快速录屏</a></li>
                <li><a href="https://mirrors.163.com/">网易镜像</a></li>
                <li><a href="https://developer.aliyun.com/mirror/">阿里镜像</a></li>
                <li><a href="https://mirrors.cloud.tencent.com/">腾讯镜像</a></li>
                <li><a href="https://pc.qq.com/">腾讯软件</a></li>
                <li><a href="https://lestore.lenovo.com/">联想软件</a></li>
                <li><a href="https://sourceforge.net/">开源软件</a></li>
                <li><a href="https://www.51dzt.com/">金山打字通</a></li>
                <li><a href="https://m3u.ibert.me/">IPTV资源</a></li>
                <li><a href="https://drivers.mydrivers.com/">驱动之家</a></li>
                <li><a href="https://www.softsoft.pro/">软软科技</a></li>
                <li><a href="https://www.sumatrapdfreader.org/" title="SumatraPDF">SumatraPDF</a></li>
                <li><a href="https://www.voidtools.com/zh-cn/" title="Everything">Everything</a></li>
                <li><a href="https://zh-cn.libreoffice.org/" title="LibreOffice">LibreOffice</a></li>
            </ul>
                