            <ul>
                <li><a href="https://www.xuexiniu.com/">学 犀 牛</a></li>
                <li><a href="https://www.chazhi.net/">查 知 网</a></li>
                <li><a href="https://www.chatchatstudy.com/">聊 聊 学</a></li>
                <li><a href="http://guihuayun.com/">规 划 云</a></li>
                <li><a href="https://www.bookstack.cn/">书 栈 网</a></li>
                <li><a href="https://www.gogoup.com/">高 高 手</a></li>
                <li><a onclick="loadFragment('language',true,'学习外语')" href="javascript:;" target="_self">学 外 语</a></li>
                <li><a href="https://mathsisfun.com/">数学好玩</a></li>
                <li><a href="https://virusview.net/">电脑病毒</a></li>
                <li><a href="https://xiaolincoding.com/">小林图解</a></li>
                <li><a href="https://geekdaxue.co/">分类书籍</a></li>
                <li><a href="https://chaoli.club/">超理论坛</a></li>
                <li><a href="https://www.hqgq.com/">环球钢琴</a></li>
                <li><a href="https://www.guzheng.cn/">中国古筝</a></li>
                <li><a href="https://www.wipo.int/portal/zh/">知识产权</a></li>
                <li><a href="http://www.catl.org.cn/">翻译研究</a></li>
                <li><a href="https://www.wanfangdata.com.cn/">万方数据</a></li>
                <li><a href="https://hwjyw.com/">华文教育</a></li>
                <li><a href="https://regexlearn.com/zh-cn">正则学习</a></li>
                <li><a href="https://visualgo.net/zh">数据结构</a></li>
                <li><a href="https://uiiiuiii.com/">优优教程</a></li>
                <li><a href="https://www.zaixianzixue.com/">在线自学</a></li>
                <li><a href="https://www.coursera.org/">Coursera</a></li>
                <li><a href="http://www.centv.cn">教育电视</a></li>
                <li><a href="http://yixi.tv">一席演讲</a></li>
                <li><a href="http://www.tndao.com/">听道讲坛</a></li>
                <li><a href="http://www.self.org.cn/">格致论道</a></li>
                <li><a href="https://open.163.com/">网易公课</a></li>
                <li><a href="https://www.icourse163.org/">大学慕课</a></li>
                <li><a href="https://www.mvyxws.com/">医学微视</a></li>
                <li><a href="https://oyc.yale.edu/">耶鲁公课</a></li>
                <li><a href="https://www.51zxw.net/">我要自学</a></li>
                <li><a href="https://zh.wikiversity.org/">维基学院</a></li>
                <li><a href="https://learn.microsoft.com/zh-hans">微软学习</a></li>
                <li><a href="https://www.mbalib.com/">MBA智库</a></li>
                <li><a href="https://iknow.lenovo.com.cn/">联想知识</a></li>
                <li><a href="https://www.musicca.com/zh">乐理知识</a></li>
                <li><a href="https://muted.io/">学习音乐</a></li>
                <li><a href="https://learningmusic.ableton.com/zh-Hans/">音乐创作</a></li>
                <li><a href="https://www.52cmajor.com/">C大调音乐</a></li>
                <li><a href="https://zh.wikibooks.org/">维基教科书</a></li>
                <li><a href="https://www.excelhome.net/">ExcelHome</a></li>
                <li><a href="https://www.psychspace.com/">心理学空间</a></li>
                <li><a href="https://v.ucas.ac.cn/">中科院大学</a></li>
                <li><a href="https://www.wolframalpha.com/">Wolfram</a></li>
                <li><a href="https://learngitbranching.js.org/?locale=zh_CN">Learn Git</a></li>
                <li><a href="http://ocw.aca.ntu.edu.tw/ntu-ocw/">台大课程</a></li>
            </ul>