            <ul>
                <li><a href="https://www.xe.com/">汇 率</a></li>
                <li><a href="https://www.tianditu.gov.cn/">天 地 图</a></li>
                <li><a href="https://metronome.tooltool.net/">节 拍 器</a></li>
                <li><a href="https://cloudphoneh5.buy.139.com/">云 手 机</a></li>
                <li><a href="https://www.cmd5.com/">M D 5</a></li>
                <li><a href="https://fonts.safe.360.cn/">查 字 体</a></li>
                <li><a href="https://www.bazhan.com.cn/">扒 站</a></li>
                <li><a href="https://cli.im/">二 维 码</a></li>
                <li><a href="https://www.lupingwang.com/">录 屏 网</a></li>
                <li><a href="https://nipponcolors.com/">日 本 色</a></li>
                <li><a href="http://zhongguose.com">中 国 色</a></li>
                <li><a href="https://www.mywifisign.com/zh-hans">Wifi卡片</a></li>
                <li><a href="https://hack.chat/?66360">聊 天 室</a></li>
                <li><a href="https://bezier.method.ac/">贝 塞 尔</a></li>
                <li><a href="https://recordscreen.io/">在线录屏</a></li>
                <li><a href="https://lusun.com/">芦笋录屏</a></li>
                <li><a href="https://www.xiwnn.com/piano/">在线</a><a href="https://www.gjk.cn/piano">钢琴</a></li>
                <li><a href="https://lucky100.cn/">在线抽奖</a></li>
                <li><a href="https://www.sexauth.com/">随机密码</a></li>
                <li><a href="https://openurl.cn/">多开网页</a></li>
                <li><a href="https://excalidraw.com/">自由画图</a></li>
                <li><a href="https://dateclock.net/">罗盘时钟</a></li>
                <li><a href="https://wylt.com/">网页聊天</a></li>
                <li><a href="https://utils.fun/">油条工具</a></li>
                <li><a href="https://www.netpad.net.cn/">网络画板</a></li>
                <li><a href="https://bottleneck-calculator.net/zh">电脑瓶颈</a></li>
                <li><a href="https://www.mgpaiban.com/">蘑菇排版</a></li>
                <li><a href="https://exif.tuchong.com/">照片信息</a></li>
                <li><a href="http://www.pingmudiy.com/screentest/">屏幕检测</a></li>
                <li><a href="http://tool.pfan.cn/scanport">端口扫描</a></li>
                <li><a href="https://www.latexlive.com/">公式编辑</a></li>
                <li><a href="html/detect.html">本地环境</a></li>
                <li><a href="https://www.5173.com.cn/">公式计算</a></li>
                <li><a href="https://www.desmos.com/calculator?lang=zh-CN">图形计算</a></li>
                <li><a href="https://timebleed.com/">待办事项</a></li>
                <li><a href="https://chronologyclock.com/">历史现在</a></li>
                <li><a href="https://qwerty.kaiyi.cool/">练习打字</a></li>
                <li><a href="https://c.runoob.com/">菜鸟工具</a></li>
                <li><a href="https://www.tldraw.com/">Tldraw</a></li>
                <li><a href="https://vividshare.io/">vividshare</a></li>
                <li><a href="https://qinqi.unban.cn/">亲戚计算器</a></li>
                <li><a href="https://www.autodraw.com/">AutoDraw</a></li>
                <li><a href="https://my-calculator.com/">科学计算器</a></li>
                <li><a href="https://www.kugga.cn/">高清图预览</a></li>
                <li><a href="https://www.geekeditor.com/">极客编辑器</a></li>
                <li><a href="https://convertcase.net/">英文转格式</a></li>
            </ul>