            <ul>
                <li><a href="https://www.w3.org/" title="w3c">W3C</a></li>
                <li><a href="https://developer.mozilla.org/zh-CN/">MDN</a></li>
                <li><a href="https://ping.pe/">Ping</a></li>
                <li><a href="https://cdnjs.com/">CdnJs</a></li>
                <li><a href="https://www.html.cn/">HTML</a></li>
                <li><a href="https://lesscss.cn/">Less</a></li>
                <li><a href="https://www.npmjs.com/">npm</a></li>
                <li><a href="https://www.whois.com.cn/">Whois</a></li>
                <li><a href="https://www.gruntjs.net/">GRUNT</a></li>
                <li><a href="https://www.gulpjs.com.cn/">gulp</a></li>
                <li><a href="https://jestjs.io/zh-Hans/">Jest</a></li>
                <li><a href="https://jsbin.com/">JS Bin</a></li>
                <li><a href="https://cn.vuejs.org/">V u e</a></li>
                <li><a href="https://react.docschina.org/">React</a></li>
                <li><a href="https://angular.cn/">Angular</a></li>
                <li><a href="http://www.shouce.ren/">手 册 网</a></li>
                <li><a href="https://host.retiehe.com/">热 铁 盒</a></li>
                <li><a href="https://hiregex.com/">嗨 正 则</a></li>
                <li><a href="https://www.grabient.com/">渐 变 色</a></li>
                <li><a href="https://neumorphism.io/">新 拟 态</a></li>
                <li><a href="https://www.yunweipai.com/">运 维 派</a></li>
                <li><a href="https://zh.learnlayout.com/">CSS布局</a></li>
                <li><a href="https://xmlgrid.net/cn/">Xml编辑</a></li>
                <li><a href="https://zh.majestic.com/">反向链接</a></li>
                <li><a href="https://www.deadlinkchecker.com/">死链检测</a></li>
                <li><a href="https://www.w3schools.cn/">网页开发</a></li>
                <li><a href="https://bi.cool/bi">笔酷网页</a></li>
                <li><a href="https://xiaomark.com/">小码短链</a></li>
                <li><a href="https://regexr.com/">正则测试</a></li>
                <li><a href="http://www.regex100.com/">正则精灵</a></li>
                <li><a href="https://www.boce.com/">网站测速</a></li>
                <li><a href="https://www.webpagetest.org/">网站分析</a></li>
                <li><a href="http://www.webmasterhome.cn/">站长之家</a></li>
                <li><a href="https://www.runoob.com/">菜鸟教程</a></li>
                <li><a href="https://www.twle.cn/">简单教程</a></li>
                <li><a href="http://www.chinaz.com/">中国站长</a></li>
                <li><a href="https://www.yuque.com/fe9/basic">前端九部</a></li>
                <li><a href="https://zh.javascript.info/">现代脚本</a></li>
                <li><a href="https://www.geekxh.com/">小浩算法</a></li>
                <li><a href="https://www.zzbaike.com/">站长百科</a></li>
                <li><a href="https://dwqs.gitbooks.io/frontenddevhandbook/content/">前端手册</a></li>
                <li><a href="https://www.siteinspire.com/">创意启发</a></li>
                <li><a href="https://web.archive.org/">网站档案</a></li>
                <li><a href="https://epiceasing.com/">缓动动效</a></li>
                <li><a href="https://yunyingxiaowanzi.zhubai.love/">有趣产品</a></li>
                <li><a href="https://caniuse.com/">Can I use</a></li>
                <li><a href="https://www.webpackjs.com/">WEBPACK</a></li>
                <li><a href="https://code.fun/">CodeFun</a></li>
                <li><a href="https://hellogithub.com/">HelloGit</a></li>
                <li><a href="https://whatwg.org/">WHATWG</a></li>
                <li><a href="https://jsfiddle.net/">JS Fiddle</a></li>
                <li><a href="https://www.tutorialspoint.com/">Tutorials</a></li>
                <li><a href="https://www.bootcss.com/">Bootstrap</a></li>
                <li><a href="https://javascriptobfuscator.com/">js代码混淆</a></li>
                <li><a href="https://nodejs.org/zh-cn">Node.js</a></li>
                <li><a href="https://hexo.io/zh-cn/">Hexo</a></li>
                <li><a href="https://gohugo.io/">HUGO</a></li>
                <li><a href="https://cn.centcount.com/">百夫长统计</a></li>
            </ul>