            <ul>
                <li><a href="http://www.zhili.org.cn/">知 力 网</a></li>
                <li><a href="http://www.sciencenet.cn/">科 学 网</a></li>
                <li><a href="https://www.wkepu.com/">微 科 普</a></li>
                <li><a href="http://www.ikepu.com/">爱 科 普</a></li>
                <li><a href="https://www.nongbaike.net/">农 百 科</a></li>
                <li><a href="https://www.huabaike.com/">花 百 科</a></li>
                <li><a href="https://moecats.com/">喵 百 科</a></li>
                
                <li><a href="https://baike.baidu.com/">百度百科</a></li>
                <li><a href="https://baike.sogou.com/">搜狗百科</a></li>
                <li><a href="https://www.zhihu.com/wiki">知乎百科</a></li>
                <li><a href="https://mzh.moegirl.org.cn/">萌娘百科</a></li>

                <li><a href="https://www.yixue.com/">医学百科</a></li>
                <li><a href="https://baike.kuaiji.com/">会计百科</a></li>
                <li><a href="https://www.wikiart.org/zh">艺术百科</a></li>
                <li><a href="http://baike.especies.cn/">生物百科</a></li>
                <li><a href="https://wuli.wiki/online/">小时百科</a></li>
                <li><a href="http://dict.lxi.me/">公益词典</a></li>
                <li><a href="https://www.baike.com/">抖音百科</a></li>
                <li><a href="https://www.zgbk.com/">中国百科</a></li>
                <li><a href="https://www.bkzx.cn/">百科在线</a></li>
                <li><a href="https://zh.wikipedia.org/">维基百科</a></li>
                <li><a href="https://zh.wikisource.org/">维基文库</a></li>
                <li><a href="https://zh.wiktionary.org/">维基词典</a></li>
                <li><a href="https://www.britannica.com/">大英百科</a></li>
                <li><a href="https://www.termonline.cn/">术语在线</a></li>
                <li><a href="http://www.kepu.net.cn/">科普博览</a></li>
                <li><a href="http://www.sciencenet.cn/">科学报社</a></li>
                <li><a href="http://www.kepu.gov.cn/">中国科普</a></li>
                <li><a href="https://www.kepuchina.cn/">科普中国</a></li>
                <li><a href="https://www.sciencereading.cn/">科学在线</a></li>
                <li><a href="https://www.envisioningchemistry.cn/">美丽化学</a></li>
                <li><a href="http://www.china-shj.org.cn/">地球科普</a></li>
                <li><a href="https://www.worldhistory.org/">世界历史</a></li>
                <li><a href="https://www.zsbeike.com/">知识贝壳</a></li>
                <li><a href="http://www.usteel.net/">钢铁百科</a></li>
                <li><a href="http://baike.asianmetal.cn/">金属百科</a></li>
                <li><a href="https://baike.focus.cn/">房产百科</a></li>
                <li><a href="http://www.ci123.com/baike/">育儿百科</a></li>
                <li><a href="https://zh.wikihow.com/">WikiHow</a></li>
                <li><a href="https://www.cbaigui.com/">妖怪百科</a></li>
                <li><a href="https://flk.npc.gov.cn/">法律法规</a></li>
                <li><a href="https://www.newscientist.com/">新科学家</a></li>
                <li><a href="http://www.kxsj.com/">科学世界</a></li>
                <li><a href="https://www.shkp.org.cn/">上海科普</a></li>
                <li><a href="http://www.twxb.org/">天文学报</a></li>
                <li><a href="http://www.kxhb.com/">科学画报</a></li>
                <li><a href="http://www.uux.cn/">神秘的地球</a></li>
                <li><a href="https://www.cdstm.cn/">数字科技馆</a></li>
                <li><a href="https://mathpron.github.io/">数学家读音</a></li>
                <li><a href="https://www.webopedia.com/">计算机词典</a></li>
            </ul>